.app-items-vertical-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mat-window-toolbar {
    width: 100%;
    height: auto;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;

    &button {
        margin-left: 10px;
    }
}

form {
    overflow: hidden !important;
}