@import "colors";

::ng-deep .advanced-title {
    font-size: 20px;
    color: $dark-blue;

    font-weight: 500;
}

::ng-deep .advanced-sub-title {
    font-size: 17px;
    color: $sub-title;

    font-weight: 500;
}

// Классы для толщины шрифта
::ng-deep .adv-weight-thin {
    font-weight: 400 !important;
}
::ng-deep .adv-weight-medium {
    font-weight: 500 !important;
}
::ng-deep .adv-weight-bold {
    font-weight: 600 !important;
}

// Классы для размеров шрифта
::ng-deep .adv-size-small {
    font-size: 10px !important;
}
::ng-deep .adv-size-medium {
    font-size: 12px !important;
}
::ng-deep .adv-size-big {
    font-size: 14px !important;
}
::ng-deep .adv-size-so-big {
    font-size: 16px !important;
}