@import "./colors.scss";

::ng-deep .Advanced-Bootstrap-Container {
    z-index: 9999999 !important;
    top: 65px !important;
} 

::ng-deep .Toast-Message-Container {
    border-radius: 15px 15px 15px 15px;
    border: none !important;
    user-select: none;
}

::ng-deep .advanced-confirm-toast {
    background: $info-background !important;
    ._toast-header {
        background: $info-background !important;
    }
    ._toast-body {
        background: $info-background !important;
    }

    .yes-confirm-button {
        border: 1px solid #e8e8e8;
        background-color: #e8e8e8;
        color:  $info-button;
    
        border-radius: 5px;
    
        font-weight: 500;
    
        min-width: 40px;
        outline: none;
    }
    .no-confirm-button {
        border: 1px solid $info-button;
        background-color: $info-button;
        color: #f2f4ff;
    
        border-radius: 5px;
    
        min-width: 40px;
        outline: none;
    }
    
    .confirm-toolbar {
        margin: 0px !important;
        padding: 10px;
        font-size: 13px;
    }
}

::ng-deep .advanced-info-toast {
    background: $info-background !important;

    ._toast-header {
        background-color: $info-background !important;
        border-bottom: 1px solid $info-border !important;
    }
    ._toast-body {
        background-color: $info-background !important;
    }
    ._close {
        color: $info-button !important;
    }
}

::ng-deep .advanced-success-toast {
    background: $info-background !important;

    ._toast-header {
        background-color: $success-background !important;
        border-bottom: 1px solid $success-border !important;
    }
    ._toast-body {
        background-color: $success-background !important;
    }
    ._close {
        color: $success-button !important;
    }
}

::ng-deep .advanced-warning-toast {
    background: $info-background !important;

    ._toast-header {
        background-color: $warning-background !important;
        border-bottom: 1px solid $warning-border !important;
    }
    ._toast-body {
        background-color: $warning-background !important;
    }
    ._close {
        color: $warning-button !important;
    }
}

::ng-deep .advanced-error-toast {
    background: $info-background !important;

    ._toast-header {
        background-color: $error-background !important;
        border-bottom: 1px solid $error-border !important;
    }
    ._toast-body {
        background-color: $error-background !important;
    }
    ._close {
        color: $error-button !important;
    }
}


::ng-deep ._toast {
    border-radius: 15px 15px 15px 15px;
    border: none !important;
    user-select: none;
}

::ng-deep ._toast-body {
    padding: 8px !important;
}

::ng-deep ._toast-header {
    color: #f2f4ff !important;
    border-radius: 15px 15px 0px 0px;
    height: 38px;
}

::ng-deep ._toast-body {
    border-radius: 0px 0px 15px 15px;
    color: #f2f4ff !important;
}

::ng-deep ._close {
    outline: none !important;
}
