@import "./../../../../../../Styles/colors.scss";

.mat-form-field {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    background: #f4f4f4;
}
.send-btn {
    color: $light-blue;
}

:host ::ng-deep .advanced-textarea .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

textarea.mat-input-element {
    padding: 0px !important;
}

.clip-btn {
    margin-right: 5px;
}

.advanced-textarea ::ng-deep .mat-form-field-underline {
    display: none;
}

.advanced-textarea ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.34375em !important;
}

.advanced-textarea ::ng-deep .mat-form-field-suffix {
    display: flex !important;
}

.advanced-textarea ::ng-deep .mat-form-field-prefix, .advanced-textarea ::ng-deep .mat-form-field-suffix  {
    margin-bottom: auto;
    margin-top: 15px;
}

// :host ::ng-deep .mat-form-field-infix {
//     padding: 0;
//     border: 0;
// }
