<mat-form-field
    class="advanced-textarea"
    [floatLabel]="'never'">

    <button
        matPrefix
        mat-icon-button
        [disabled]="isDisable"
        class="clip-btn"
        (click)="selectFile()">
            <i class="fas fa-paperclip"></i>
    </button>

    <input
        #PhotoInput
        hidden
        type="file"
        accept="image/.jpeg,.jpg,.png,.bmp"
        [(ngModel)]="photo"
        (change)="uploadFile($event)"/>

    <textarea
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5" 
        cdkTextareaAutosize
        [(ngModel)]="messageText"
        [disabled]="isDisable"
        matInput
        #textarea
        id="textarea"
        class="textarea"
        placeholder="Write a message..."
        (keydown)="keyDown($event)"></textarea>

    <div
        matSuffix
        class="emoji-wrapper">
        <app-chat-emoji-popup
            [isDisable]="isDisable"
            (OnEmojiPick)="addEmojiToTextArea($event)">
        </app-chat-emoji-popup>
    </div>

    <button
        matSuffix
        mat-icon-button
        [disabled]="isDisable"
        (click)="send()">
        <i class="fas fa-paper-plane"></i>
    </button>
</mat-form-field>