<h4 class="text-primary font-weight-bold">
    <i class="admin_icon fas fa-video"></i>
    Change user video
</h4>

<mat-dialog-content>
    <form>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fab fa-youtube text-secondary"></i>

                    <input
                        matInput
                        type="text"
                        placeholder="Link from YouTube"
                        [formControl]="videoLinkControl"/>

                    <mat-error *ngIf="videoLinkControl.hasError('isVideoLinkIncorrect')">
                        Incorrect Youtube Link
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        (click)="cancel()">Cancel</button>

    <button
        mat-raised-button
        color="primary"
        (click)="changeVideoLink()">
        Save
    </button>
</mat-dialog-actions>

<input
    #VideoFileUploader
    hidden
    accept="video/*"
    type="file"
    (change)="uploadVideo($event)"/>