<div
    class="wrapper">
        <div class="row">
            <div
                class="col-12">
                    <mat-form-field>
                        <input 
                            matInput 
                            placeholder="Skip button text"
                            [(ngModel)]="skipButtonText"
                            (change)="writeValue()">
                    </mat-form-field>
            </div>
        </div>
</div>

