<mat-dialog-content>
    <h4 class="text-primary font-weight-bold">
        <i class="far fa-comment-alt"></i>
        Feedback
    </h4>
    
    <form [formGroup]="feedbackFormGroup">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <textarea
                        matInput
                        [formControl]="feedbackFormControl"
                        placeholder="{{ (data.mode === 'addition') ? 'Leave feedback' : 'Edit feedback' }}"></textarea>
                </mat-form-field>
            </div>
    
            <div class="col-12 text-right">
                <button
                    mat-button
                    class="toolbar_button"
                    (click)="close()">Close</button>
    
                <button
                    mat-raised-button
                    color="primary"
                    class="toolbar_button"
                    (click)="save()">
                    <span *ngIf="!isLoading">Save</span>
                    <app-button-loader *ngIf="isLoading"></app-button-loader>
                </button>
            </div>
        </div>
    </form>
</mat-dialog-content>