<h4 class="text-primary">Change status for selected appointments</h4>

<mat-dialog-content>
    <mat-form-field>
        <mat-label>Select new status</mat-label>
        <mat-select [(ngModel)]="selectedStatus">
            <mat-option
                *ngFor="let status of statusesList"
                [value]="status.id">
                <i class="{{ status.iconClass }}"></i>&nbsp;
                {{ status.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        cdkFocusRegionStart
        (click)="close(false)">Cancel</button>

    <button
        color="primary"
        mat-raised-button
        cdkFocusInitial
        cdkFocusRegionEnd
        (click)="save()">
        <span *ngIf="!isLoading">Save</span>
        <app-button-loader *ngIf="isLoading"></app-button-loader>
    </button>
</mat-dialog-actions>