.wrapper {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    z-index: 9999;
}

.close_button {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #ffffff;

    &:hover {
        opacity: .9;
        cursor: pointer;
    }
}

.error_text {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - (300px / 2));
    left: calc(50% - (300px / 2));
    position: fixed;
    font-size: 32px;
    color: #ffffff;
}

.content_wrapper {
    width: 80%;
    height: 80%;
    top: calc(50% - (80% / 2));
    left: calc(50% - (80% / 2));
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.description_wrapper {
    width: 80%;
    height: auto;
    position: fixed;
    left: calc(50% - 40%);
    bottom: 5px;
    padding: 7px;
    text-align: center;
    border-radius: 6px;
    background: rgba(0, 0, 0, .1);
    color: #ffffff;
    z-index: 99999;
}

.loader {
    position: fixed;
    top: calc(50% - 64px);
    left: calc(50% - 16px);
    z-index: 10000;
}

.arrow_button {
    width: 50px;
    height: 100px;
    top: calc(50% - 100px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .2);
    border-radius: 6px;
    z-index: 99999;

    &.arrow_button_left {
        left: 7px;
    }

    &.arrow_button_right {
        right: 7px;
    }

    &.disable {
        color: rgb(197, 197, 197) !important;
    }

    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}
