<ng-template [ngIf]="IsOpened">

    <div
        *ngIf="OpenedMediaIndex !== null && media[OpenedMediaIndex]"
        class="wrapper"
        (click)="close()">
        <i
            class="fas fa-times fa-2x close_button"
            (click)="close()"></i>
    </div>

    <ng-template [ngIf]="media[OpenedMediaIndex].type === ContentType.Image">
        <div
            *ngIf="media[OpenedMediaIndex].content; else errorText"
            class="content_wrapper">
            <!-- <span style="font-size: 1px;">{{ media[OpenedMediaIndex].content | slice:0:1 }}</span> -->
            <img [attr.src]="media[OpenedMediaIndex].content" />
        </div>
    </ng-template>

    <ng-template [ngIf]="media[OpenedMediaIndex].type === ContentType.Video">
        <mat-video
            *ngIf="media[OpenedMediaIndex].content; else errorText"
            src="media[OpenedMediaIndex].content"
            class="content_wrapper"></mat-video>
    </ng-template>

    <ng-template [ngIf]="media[OpenedMediaIndex].type === ContentType.YoutubeVideo">
        <div
            *ngIf="media[OpenedMediaIndex].content; else errorText"
            class="content_wrapper">
            <youtube-player
                style="width: 100%; height: 100%;"
                [width]="'100%'"
                [height]="'100%'"
                [videoId]="media[OpenedMediaIndex].content"></youtube-player>
        </div>
    </ng-template>

    <div class="loader">
        <app-loader></app-loader>
    </div>

    <div
        *ngIf="media[OpenedMediaIndex].description"
        class="description_wrapper">
        <span *ngIf="media[OpenedMediaIndex].description.length < 140; else slicedDescription">
            {{ media[OpenedMediaIndex].description }}
        </span>
    </div>

    <div
        *ngIf="media[OpenedMediaIndex - 1]"
        class="arrow_button arrow_button_left"
        [matTooltip]="'Previous'"
        [matTooltipPosition]="'right'"
        (click)="previous()">
        <i class="fas fa-angle-left fa-2x"></i>
    </div>
    
    <div
        *ngIf="media[OpenedMediaIndex + 1]"
        class="arrow_button arrow_button_right"
        [matTooltip]="'Next'"
        [matTooltipPosition]="'left'"
        (click)="next()">
        <i class="fas fa-angle-right fa-2x"></i>
    </div>

</ng-template>

<ng-template #errorText>
    <div class="error_text">Can't open video</div>
</ng-template>

<ng-template #slicedDescription>
    {{ media[OpenedMediaIndex].description | slice:0:140 }}...
</ng-template>