<div class="wrapper" [ngSwitch]="loaderType">
    <div *ngSwitchCase="'Circular'">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'LineDots'">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>