<div
    *ngIf="myActionsList"
    class="wrapper">
    <div class="toolbar">
        <button
            mat-button
            color="primary"
            class="add-condition-btn"
            (click)="addCondition()">
                Add condition
        </button>
        <button
            mat-button
            color="primary"
            class="add-action-btn"
            (click)="addAction()">
                Add action
        </button>
    </div>
    <dx-scroll-view
        *ngIf="myActionsList.length; else noActions"
        [height]="275">
        <div class="action-list-wrapper">
            <div 
                cdkDropList 
                class="action-list" 
                (cdkDropListDropped)="drop($event)">
                <div 
                    class="action-box" 
                    *ngFor="let action of myActionsList; let i = index" 
                    cdkDragLockAxis="y"
                    cdkDrag>
                        <span class="action-number text-secondary">
                            {{ i + 1 }}.
                        </span>
                        <span class="action-name">
                            {{ action.name }}
                        </span>
                        <div class="action-toolbar">
                            <button
                                class="action-delete-btn"
                                mat-icon-button
                                (click)="deleteAction(i)">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </dx-scroll-view>
</div>

<ng-template #noActions>
    <h1 class="advanced-title">
        No actions
    </h1>
</ng-template>
