@import "../../../../../../../../../../../../Styles/colors.scss";

.wrapper {
    height: 300px;
}

.action-list {
    width: 100%;
    max-width: 632px;
    border: solid 1px #dee0e8;
    min-height: 60px;
    display: block;
    background: #f7f7f7;
    border-radius: 10px;
}
  
.action-box {
    padding: 20px 10px;
    height: 60px;
    border-bottom: solid 1px #dee0e8;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: move;
    background: #f7f7f7;
    font-size: 14px;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.action-box:last-child {
    border: none;
}
  
.action-list.cdk-drop-list-dragging .action-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.action-number{
    font-weight: 600;
    font-size: 13px;
    color: $sub-title;
}

.action-name {
    font-weight: 500;
    font-size: 15px;
    color: $sub-title;

    margin-left: 5px;
}

.action-toolbar {
    margin-left: auto;
}

.action-delete-btn {
    color: $danger-color;
}

.toolbar {
    display: flex;
    padding-bottom: 5px;
}

.add-action-btn {
    margin-left: auto;
}

.action-list-wrapper {
    height: 260px;
}
