.wrapper {
    overflow: hidden;
    margin: 15px auto;
    padding-bottom: 50px;

    min-height: 432px;
}

.description_field {
    min-height: 60px;
}

.full_width_field {
    width: 100%;
}

.toolbar {
    position: fixed;
    width: 90%;
    bottom: 5%;
    text-align: right;
}

.toolbar_button {
    margin-left: 10px;
}