<div
    class="wrapper">
    <form
        *ngIf="info; else loading" 
        [formGroup]="staffUserFormGroup">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-user text-secondary"></i>
                    <input
                        matInput
                        [formControl]="nameFormControl"
                        type="text"
                        placeholder="Name" />
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-user-secret text-secondary"></i>
                    <input
                        matInput
                        [formControl]="loginFormControl"
                        type="text"
                        placeholder="Login" />
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-phone text-secondary"></i>
                    <input
                        matInput
                        [formControl]="phoneFormControl"
                        type="text"
                        placeholder="Phone" />
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-at text-secondary"></i>
                    <input
                        matInput
                        [formControl]="mailFormControl"
                        type="text"
                        placeholder="Email" />
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-info text-secondary"></i>
                    <textarea
                        matInput
                        [formControl]="descriptionFormControl"
                        placeholder="Description"
                        class="description_field"></textarea>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-lock text-secondary"></i>

                    <input
                        matInput
                        [formControl]="passwordFormControl"
                        [type]="isPasswordHidden ? 'password' : 'text'"
                        type="password"
                        placeholder="Password" />

                    <button
                        mat-icon-button
                        matSuffix
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="isPasswordHidden"
                        (click)="isPasswordHidden = !isPasswordHidden">
                        <i class="{{ isPasswordHidden ? 'fas fa-eye' : 'fas fa-eye-slash' }} text-secondary"></i>
                    </button>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-key text-secondary"></i>
                    <mat-label>Role</mat-label>
                    <mat-select [formControl]="roleFormControl">
                        <mat-option
                            *ngFor="let role of rolesList"
                            [value]="role.id">
                            {{ role.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12">
                <app-chip-input
                    [placeholder]="'Tags'"
                    [prefixClass]="'fas fa-tag text-secondary'"
                    [allowCustomChipValue]="true"
                    [formControl]="tagsFormControl"></app-chip-input>
            </div>

            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-users text-secondary"></i>
                    <input
                        matInput
                        [formControl]="capacityFormControl"
                        type="number"
                        placeholder="Capacity (in count)" />
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<div class="toolbar">
    <button
        mat-button
        class="toolbar_button"
        (click)="cancel()">Cancel</button>

    <button
        mat-raised-button
        class="toolbar_button"
        color="primary"
        (click)="save()">
        <span *ngIf="!isSaving">Save</span>
        <app-button-loader *ngIf="isSaving"></app-button-loader>
    </button>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
