<h3 class="text-secondary">
    <i class="fas fa-user-graduate fa-sm"></i>
    Users
</h3>

<app-staff-table
    #StaffTable
    [isSelectionEnabled]="false"
    [isActionColumnsVisible]="true"></app-staff-table>

<button
    mat-fab
    matTooltip="Add user"
    matTooltipPosition="above"
    color="primary"
    class="staff_user_addition_button"
    (click)="openAdditionWindow()">
    <i class="fas fa-user-plus"></i>
</button>