<div
    *ngIf="(userInfo$ | async) as userInfo"
    class="container chat-card">
    <div class="row">
        <div
            *ngIf="(isShowContacts) && (!selectedChatLink || !isSmallBlock)"
            [ngClass]="{
                'd-none': selectedChatLink,
                'col-md-12': isSmallBlock
            }"  
            class="d-md-block col-md-4 chat-contacts">
            <chats-list
                [selectedChatLink]="selectedChatLink"
                [isShowCloseButton]="isShowCloseButton"
                (OnSelectedChat)="openChat($event)"
                (OnCloseChat)="closeMessages()"
                (OnClose)="closeChat()"></chats-list>
        </div>
        <div
            *ngIf="selectedChatLink || !isSmallBlock"
            [ngClass]="{
                'd-none': !selectedChatLink,
                'col-md-8': isShowContacts,
                'col-md-12': !isShowContacts || isSmallBlock
            }" 
            class="d-md-block col-md-8 messages-block-wrapper">
            <div
                *ngIf="selectedChatLink; else SelectChat" 
                class="messages-block">
                <chat-messages-block
                    *ngIf="chatIsOpened" 
                    #messageBlock
                    [roomLink]="selectedChatLink"
                    [userInfo]="userInfo"
                    [analiticsData]="analiticsData"
                    [isShowContacts]="isShowContacts"
                    [isShowCloseButton]="isShowCloseButton"
                    (OnCloseMessages)="closeMessages()"
                    (OnClose)="closeChat()">
                </chat-messages-block>
            </div>
        </div>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

<ng-template #SelectChat>
    <div class="select-chat-wrapper">
        <div class="select-chat-shape">
            Please select a chat to start messaging
        </div>
    </div>
</ng-template>
