<div
    *ngIf="hobbies; else loading"
    class="wrapper">
    <div class="hobbies_title text-center">
        <h5 class="text-secondary">Gallery</h5>
    </div>
    
    <div class="hobbie_action_block text-center">
        <button
            mat-button
            style="margin-right: 10px;"
            color="primary"
            class="font-weight-bold"
            (click)="addHobbieAsImage()">
            <i class="fas fa-plus"></i>&nbsp;
            Image
        </button>

        <button
            mat-button
            color="primary"
            class="font-weight-bold"
            (click)="addHobbieAsVideo()">
            <i class="fas fa-plus"></i>&nbsp;
            Video
        </button>
    
        <input
            #HobbieAdditionFileUploader
            hidden
            accept="image/.jpeg,.jpg,.png,.bmp"
            type="file"
            (change)="uploadAndAddHobbie($event)"/>
    </div>

    <div class="hobbies_list">
        <div
            *ngFor="let hobby of hobbies; let ind = index;"
            class="row">
            <div class="col-sm-12 col-md-4">
                <div class="hobbie_wrapper">
                    <i
                        *ngIf="hobby.type === MediaType.YoutubeVideo"
                        class="fab fa-youtube fa-lg media_icon"></i>

                    <div
                        class="hobbie_image"
                        [ngStyle]="{ 'background-image': 'url(' + hobby.preview + ')' }">
                        <div
                            [matTooltip]="'View hobby photo'"
                            [matTooltipPosition]="'left'"
                            class="hobbie_view_block"
                            (click)="viewHobbie(ind)">
                            <i class="fas fa-eye fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6">
                <mat-form-field class="full_width_field">
                    <textarea
                        matInput
                        placeholder="Description"
                        class="description_field"
                        [(ngModel)]="hobby.description"
                        (blur)="editHobbieDescription(hobby)"></textarea>
                </mat-form-field>
            </div>
            <div class="col-sm-2 col-md-2 text-center">
                <button
                    mat-icon-button
                    [matTooltip]="'Delete'"
                    [matTooltipPosition]="'above'"
                    aria-label="Delete"
                    color="warn"
                    (click)="deleteHobbie(hobby)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>

    <app-media-preview
        #MediaPreview
        [media]="hobbiesMedia"></app-media-preview>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>