$hobby-image-height: 84px;

.hobbies_title {
    margin-top: 40px;
}

.hobbies_list {
    margin-top: 10px;
    padding-top: 10px;
    border-top: dotted 1px #cacaca;
}

.full_width_field {
    width: 100%;
}

.hobbie_image {
    width: 100%;
    height: $hobby-image-height;
    border-radius: 6px;
    background-position: 50%;
    background-size: cover;
}

.description_field {
    height: 62px;
    min-height: 62px;
    max-height: 62px;
}

.hobbie_wrapper {
    &:hover {
        cursor: pointer;

        .hobbie_change_block, .hobbie_view_block {
            opacity: 1;
        }
    }
}

.hobbie_change_block {
    width: calc(100% - 30px);   // 30px is padding of bootstrap grid
    height: $hobby-image-height / 2;
    position: absolute;
    display: flex;
    opacity: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
    
    i {
        display: inline-flex;
    }
}

.hobbie_view_block {
    width: calc(100% - 30px);   // 30px is padding of bootstrap grid
    height: $hobby-image-height;
    position: absolute;
    display: flex;
    opacity: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
    
    i {
        display: inline-flex;
    }
}

.media_icon {
    position: absolute;
    margin: 5px;
    color: #fff;
}