<mat-dialog-content>
    <h4 class="text-primary font-weight-bold">
        <i class="fas fa-user-plus fa-sm"></i>
        Add invited user
    </h4>
    
    <form [formGroup]="invitedUserFormGroup">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <input
                        matInput
                        [formControl]="nameFormControl"
                        type="text"
                        placeholder="Name" />
                </mat-form-field>
            </div>
    
            <div class="col-12 text-right">
                <button
                    mat-button
                    class="toolbar_button"
                    (click)="close()">Cancel</button>
    
                <button
                    mat-raised-button
                    color="primary"
                    class="toolbar_button"
                    (click)="save()">Save</button>
            </div>
        </div>
    </form>
</mat-dialog-content>