<div *ngIf="isShowCampaigns">
    <div
        *ngIf="campaignsList; else loading"
        class="row">
        <div class="col-11">
            <mat-form-field>
                <mat-label>Filter by campaign</mat-label>
                <mat-select
                    [(ngModel)]="selectedCampaignId"
                    (selectionChange)="update()">
                    <mat-option
                        *ngFor="let campaign of campaignsList"
                        [value]="campaign.id">
                        {{ campaign.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-1 text-center app-items-vertical-middle">
            <button
                mat-icon-button
                class="text-secondary"
                [matTooltip]="'Clear campaign selection'"
                [matTooltipPosition]="'above'"
                (click)="clearSelectedCampaign()">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-9">
        <app-randge-date
            [inputDate]="{ from: from, to: to }"
            (OnChange)="changeDates($event)"></app-randge-date>
    </div>
    <div class="col-sm-12 col-md-3">
        <mat-form-field class="search_field">
            <input
                matInput
                (keyup)="search($event.target.value)"
                placeholder="Search">
        </mat-form-field>
    </div>
</div>

<div *ngIf="isLoading; then loading"></div>

<table
    *ngIf="dataSource.data"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="logs-table">
  
    <ng-container [matColumnDef]="'info'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left font-weight-bold">Info</th>

        <td
            *matCellDef="let log"
            mat-cell
            class="text-left adv-size-medium font-weight-bolder">
            {{ log.info }}
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'ip'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left font-weight-bold">Ip</th>

        <td
            *matCellDef="let log"
            mat-cell
            class="text-left adv-size-medium font-weight-bold text-secondary">
            {{ log.ip }}
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'date'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left">Date</th>

        <td
            *matCellDef="let log"
            mat-cell
            class="text-left adv-size-medium text-secondary">
            {{ log.date | date:"medium" }}
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'userPrimaryKey'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-center">Primary Key</th>

        <td
            *matCellDef="let log"
            mat-cell
            class="text-center adv-size-small font-weight-bold text-secondary">
            <span *ngIf="log.userPrimaryKey; else emptyData">{{ log.userPrimaryKey }}</span>
        </td>
    </ng-container>

    <tr
        *matHeaderRowDef="DisplayedColumns"
        mat-header-row></tr>

    <tr
        *matRowDef="let row; columns: DisplayedColumns;"
        mat-row></tr>
</table>

<mat-paginator
    #Paginator
    [pageSizeOptions]="[25, 50, 75]"
    showFirstLastButtons></mat-paginator>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>

<ng-template #emptyData>
    -
</ng-template>