<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <img src="/assets/images/logo-msj-footer.png" />
            </div>
            <div class="col-sm-12 col-md-9">
                ©{{ currentYear }} Mount St. Joseph University<br>
                All Rights Reserved.<br>
                5701 Delhi Road, Cincinnati, OH 45233-1670<br>
                Toll free: 1-800-654-9314
                
                <div class="policy_block">
                    <a
                        target="_blank"
                        href="https://msj.edu/non-discrimination-policy/">
                        Non-discrimination policy
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>