<h4 class="text-primary font-weight-bold">
    <i class="admin_icon fas fa-user-circle"></i>
    {{ data.name }}
</h4>

<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Info">
            <ng-template matTabContent>
                <app-info-page
                    [dialogRef]="dialogRef"
                    [openedStaffUserId]="data.id"></app-info-page>
            </ng-template>
        </mat-tab>
        <mat-tab label="Media">
            <ng-template matTabContent>
                <app-media-page
                    [dialogRef]="dialogRef"
                    [openedStaffUser]="data"></app-media-page>
            </ng-template>
        </mat-tab>
        <mat-tab label="Schedule">
            <ng-template matTabContent>
                <app-schedule-page
                    [openedStaffUserId]="data.id">
                </app-schedule-page>
            </ng-template>
        </mat-tab>
    </mat-tab-group> 
</mat-dialog-content>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
