<mat-dialog-content>
    <div class="wrapper">
        <img
            class="image" 
            [src]="data.imageBase64">

        <mat-form-field
            [floatLabel]="'never'">
            <input
                cdkTextareaAutosize
                [(ngModel)]="messageText"
                matInput
                type="text"
                placeholder="Write a message..."/>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button 
        mat-button
        (click)="close()">Cancel</button>
    <button 
        cdkFocusInitial
        mat-flat-button
        color="primary"
        (click)="send()">
            <span
                *ngIf="!isLoad; else buttonLoader">
                    Send
            </span>

            <ng-template #buttonLoader>
                <app-button-loader></app-button-loader>
            </ng-template>
        </button>
</mat-dialog-actions>