.wrapper {
    width: 400px;
}

.image {
    max-width: 100%;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #e5e5e5;
}

@media screen and (max-width: 576px) {
    .wrapper {
        max-width: 75vw;
    }
}