<div class="wrapper">
    <div class="thought">
        <span class="title">I think...</span><br>
        <span class="content">
            {{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' | slice:0:65 }}...
        </span>
    </div>
</div>