$message-color: rgb(196, 155, 103);
$message-background: rgb(255, 255, 255);

.wrapper {
    width: 300px;
    height: auto;
    position: fixed;
    right: 20px;
    bottom: 140px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(58, 58, 58);
}

.content {
    font-size: 12px;
    font-weight: 400;
    color: rgb(116, 116, 116)
}

.thought {
    width: 260px;
    height: 120px;
    position: relative;
    padding: 7px 25px;
    background-color: $message-background;
    border: 4px solid $message-color;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    z-index: 11;
    opacity: .99;
}

.thought:before {
    content: ' ';
    position: absolute;
    width: 48px;
    height: 48px;
    right: 25px;
    top: 90px;
    background: $message-background;
    border: 4px solid;
    border-radius: 50%;
    border-color: $message-color;
    z-index: 10;
    opacity: .99;
}

.thought:after {
    content: ' ';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 135px;
    background: $message-background;
    border: 4px solid;
    border-radius: 50%;
    border-color: $message-color;
    z-index: 9;
    opacity: .99;
}