<mat-dialog-content>
    <h4 class="text-primary font-weight-bold">
        <i class="fas fa-ban"></i>
        Cancel appointment
    </h4>
    
    <form [formGroup]="commentFormGroup">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <textarea
                        matInput
                        [formControl]="commentFormControl"
                        placeholder="Please describe the reason for canceling the appointment"></textarea>
                </mat-form-field>
            </div>
    
            <div class="col-12 text-right">
                <button
                    mat-button
                    class="toolbar_button"
                    (click)="close()">Close</button>
    
                <button
                    mat-raised-button
                    color="primary"
                    class="toolbar_button"
                    (click)="save()">
                    <span *ngIf="!isLoading">Cancel Appointment</span>
                    <app-button-loader *ngIf="isLoading"></app-button-loader>
                </button>
            </div>
        </div>
    </form>
</mat-dialog-content>