<h4 class="text-secondary">
    Association
</h4>

<form
    *ngIf="associationFormGroup; else loading"
    [formGroup]="associationFormGroup">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <app-chip-input
                [placeholder]="'Tag variables'"
                [autocompleteDisplayExpr]="'name'"
                [autocompleteValueExpr]="'id'"
                [autocompleteItems]="variables"
                [formControl]="tagFormControl"></app-chip-input>
        </div>

        <div class="col-sm-12 col-md-6">
            <app-chip-input
                [placeholder]="'Name variables'"
                [autocompleteDisplayExpr]="'name'"
                [autocompleteValueExpr]="'id'"
                [autocompleteItems]="variables"
                [formControl]="nameFormControl"></app-chip-input>
        </div>

        <div class="col-sm-12 col-md-6">
            <app-chip-input
                [placeholder]="'Hash variables'"
                [autocompleteDisplayExpr]="'name'"
                [autocompleteValueExpr]="'id'"
                [autocompleteItems]="variables"
                [maxCountOfChips]="1"
                [formControl]="hashFormControl"></app-chip-input>
        </div>

        <div class="col-sm-12 col-md-6">
            <app-chip-input
                [placeholder]="'Alternative hash variables'"
                [autocompleteDisplayExpr]="'name'"
                [autocompleteValueExpr]="'id'"
                [autocompleteItems]="variables"
                [formControl]="alternativeHashFormControl"></app-chip-input>
        </div>

        <div class="col-sm-12 col-md-6">
            <app-chip-input
                [placeholder]="'Primary key'"
                [autocompleteDisplayExpr]="'name'"
                [autocompleteValueExpr]="'id'"
                [autocompleteItems]="variables"
                [formControl]="primaryKeyFormControl"></app-chip-input>
        </div>

        <div class="col-sm-12 col-md-6">
            <app-chip-input
                [placeholder]="'Blocks tags'"
                [autocompleteDisplayExpr]="'name'"
                [autocompleteValueExpr]="'id'"
                [autocompleteItems]="variables"
                [formControl]="blocksTagsFormControl"></app-chip-input>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <button
                mat-raised-button
                color="primary"
                class="save_button"
                (click)="save()">
                <span *ngIf="!isSaving">Save</span>
                <app-button-loader *ngIf="isSaving"></app-button-loader>
            </button>
        </div>
    </div>
</form>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>