<div
    *ngIf="appointmentActionForm" 
    class="wrapper">
    <form
        [formGroup]="appointmentActionForm">
        <app-text-box
            formControlName="selectDateText"
            [variables]="variablesList"
            [placeholder]="'Select date message text'">
        </app-text-box>

        <app-text-box
            formControlName="selectTimeText"
            [variables]="variablesList"
            [placeholder]="'Select time message text'">
        </app-text-box>

        <app-text-box
            formControlName="selectGreeterText"
            [variables]="variablesList"
            [placeholder]="'Select greeter message text'">
        </app-text-box>
    </form>
</div>
