<button
    id="emoji-btn"
    [disabled]="isDisable"
    mat-icon-button
    (click)="toogleEmojiPopover()">
        <i class="far fa-smile"></i>
</button>


<dx-popover
    target="#emoji-btn"
    position="top"
    [width]="300"
    [(visible)]="isVisible">
    <div *dxTemplate="let data of 'content'">
        <ngx-emoj
            [theme]="{
                martShowHeader: true,
                martHeaderPadding: {x: '0', y: '0'},
                martFooterPadding: {x: '0', y: '0'},
                martHeaderFontSize: '14px',
                martHeaderBG: '#e3e7e8',
                martFooterBG: '#e3e7e8',
                martBG: '#ebeff2',
                martCategoryColor: '#94a0a6',
                martCategoryColorActive: '#455a64',
                martActiveCategoryIndicatorColor: '#00897b',
                martEmojiFontSize: '150%',
                martBorderRadius: '5px',
                martActiveCategoryIndicatorHeight: '4px',
                martEmojiPadding: {x: '40px', y: '40px'}
            }"
            (onemojipick)="onEmojiSelect($event)"
            (onchardelete)="onDelete($event)">
        </ngx-emoj>
    </div>
</dx-popover>
