<table
    *ngIf="dataSource.data; else loading"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="statuses-table">
    
    <ng-container [matColumnDef]="'name'">
        <th
            *matHeaderCellDef
            mat-sort-header
            mat-header-cell
            class="text-left font-weight-bold">Status</th>

        <td
            *matCellDef="let contentBlock"
            mat-cell
            class="text-left font-weight-bolder">{{ contentBlock.name }}</td>
    </ng-container>

    <ng-container [matColumnDef]="'edit'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Edit</th>
        <td
            *matCellDef="let contentBlock"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Edit"
                matTooltipPosition="right"
                (click)="edit(contentBlock)">
                <i class="fas fa-pen"></i>
            </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'delete'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Delete</th>
        <td
            *matCellDef="let contentBlock"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Delete"
                matTooltipPosition="right"
                color="warn"
                (click)="delete(contentBlock)">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
    </ng-container>

    <tr
        *matHeaderRowDef="DisplayedColumns"
        mat-header-row></tr>

    <tr
        *matRowDef="let row; columns: DisplayedColumns;"
        mat-row></tr>
</table>

<mat-paginator
    #Paginator
    [pageSizeOptions]="[25, 50, 75]"
    showFirstLastButtons></mat-paginator>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>