@import "../../../../../../Styles/colors.scss";

.wrapper {
    display: flex;

    justify-content: center;
    align-items: baseline;
}

.mat-form-field {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #e5e5e5;
}

.close-btn {
    color: $danger-color;
}

.close-icon {
    color: $sub-title;
}
