<div class="wrapper">
    <mat-form-field
        [floatLabel]="'never'">
        <input 
            matInput
            placeholder="Search"
            (input)="searchOnChange($event)">
    </mat-form-field>

    <button
        *ngIf="isShowCloseButton"
        class="close-icon"
        mat-icon-button
        (click)="close()">
        <i class="fas fa-times"></i>
    </button>
</div>
