<h4 class="text-secondary">
    Variables
</h4>

<div *ngIf="variables; else loading">
    <div
        *AvailableFor="[Roles.SuperUser]"
        class="csv_button_wrapper">
        <button
            mat-raised-button
            color="primary"
            (click)="selectCsv()">
            <span *ngIf="!isCsvLoading">Upload CSV</span>
            <app-button-loader *ngIf="isCsvLoading"></app-button-loader>
        </button>

        <button
            #DeleteUsersButton
            [disabled]="!selectedVariables.length"
            mat-stroked-button
            color="warn"
            (click)="DeleteUsersButton.disabled ? null : groupDeleting()">
            <i class="far fa-trash-alt"></i>&nbsp;
            Delete {{ selectedVariables.length }} variable(s)
        </button>

        <input
            #VariablesCsvUploader
            hidden
            accept=".csv"
            type="file"
            (change)="uploadCsv($event)"/>
    </div>
    
    <div class="row">
        <div class="col-sm-2 col-md-3">
            <button
                mat-icon-button
                [matTooltip]="'Add variable'"
                [matTooltipPosition]="'right'"
                color="primary"
                (click)="openAdditionWindow()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <dx-data-grid
        [dataSource]="variables"
        [wordWrapEnabled]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="true"
        (onSelectionChanged)="onSelection($event)">

        <dxo-header-filter [visible]="true"></dxo-header-filter>

        <dxo-search-panel
            [visible]="true"
            [width]="250"
            placeholder="Search"></dxo-search-panel>

        <dxo-selection
            [mode]="'multiple'"
            [selectAllMode]="'page'"
            [showCheckBoxesMode]="'always'"></dxo-selection>

        <dxo-paging
            [enabled]="true"
            [pageSize]="30"></dxo-paging>

        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
        </dxo-pager>

        <dxi-column
            [dataField]="'name'"
            [caption]="'Name'"
            [dataType]="'string'"
            [alignment]="'left'"
            [allowSearch]="true"
            [allowFiltering]="false"
            [cssClass]="'text-left font-weight-bolder'"
            [cellTemplate]="'NameTemplate'"></dxi-column>

        <dxi-column
            [width]="'80px'"
            [caption]="'Delete'"
            [allowSearch]="false"
            [allowSorting]="false"
            [allowFiltering]="false"
            [cellTemplate]="'DeleteTemplate'"
            [alignment]="'center'"></dxi-column>

        <div *dxTemplate="let variable of 'NameTemplate'">
            <span *ngIf="variable.data.name; else emptyData">{{ variable.data.name }}</span>
        </div>

        <div *dxTemplate="let variable of 'DeleteTemplate'">
            <button
                mat-icon-button
                [color]="'warn'"
                [matTooltip]="'Delete'"
                [matTooltipPosition]="'above'"
                (click)="delete(variable.data)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </dx-data-grid>
</div>

<ng-template #emptyData>
    -
</ng-template>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>