@import "../../../../../../Styles/colors.scss";

td {
    padding: 5px;
}

.search_field {
    width: 100%;
}

.appointment-table {
    width: 100%;
}

.avatar {
    display: inline-block;

    &:hover {
        opacity: .9;
        cursor: help;
    }
}

:host ::ng-deep .passed_appointment {
    background-color: rgba(red($warning-color), green($warning-color), blue($warning-color), .05);
}

.parent_appointment {
    box-shadow: 0px 5px 7px rgba(0, 70, 0, 0.3);
    z-index: 999;
    opacity: .99;
}