<button
    #ChangeStatusesButton
    [disabled]="!selectedAppointments.length"
    mat-stroked-button
    color="primary"
    (click)="ChangeStatusesButton.disabled ? null : openStatusesChangerWindow()">
    <i class="fas fa-pen"></i>&nbsp;
    Change statuses for {{ selectedAppointments.length }} appointment(s)
</button>

<dx-tree-list
    *ngIf="appointments; else loading"
    [dataSource]="appointments"
    [keyExpr]="'id'"
    [parentIdExpr]="'parentId'"
    [showRowLines]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [wordWrapEnabled]="true"
    (onRowPrepared)="prepareRow($event)"
    (onRowUpdated)="prepareRow($event)"
    (onSelectionChanged)="onSelection($event)">

    <dxo-search-panel
        [width]="250"
        [visible]="true"></dxo-search-panel>

    <dxo-scrolling mode="standard"></dxo-scrolling>

    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

    <dxo-selection
        mode="multiple"
        [recursive]="true"></dxo-selection>

    <dxo-paging 
        [enabled]="true"
        [pageSize]="25">
    </dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[25, 50, 100]"
        [showInfo]="true">
    </dxo-pager>

    <dxi-column
        [width]="90"
        [dataField]="'whoCreatedType'"
        [caption]="''"
        [dataType]="'number'"
        [allowFiltering]="false"
        [cellTemplate]="'WhoCreatedTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'campaignName'"
        [caption]="'Campaign'"
        [dataType]="'string'"
        [cssClass]="'text-left text-secondary adv-size-small adv-weight-bold'"></dxi-column>

    <dxi-column
        [dataField]="'buttonName'"
        [caption]="'Button'"
        [dataType]="'string'"
        [cssClass]="'text-left text-secondary adv-size-small'"
        [cellTemplate]="'ButtonNameTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'visitor'"
        [caption]="'Visitor'"
        [cssClass]="'text-left adv-size-medium font-weight-bold'"
        [dataType]="'number'"
        [cellTemplate]="'VisitorTemplate'"></dxi-column>

    <dxi-column
        [width]="85"
        [dataField]="'greeterModel.name'"
        [caption]="'Greeter'"
        [cssClass]="'text-center'"
        [dataType]="'number'"
        [cellTemplate]="'GreeterTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'status'"
        [caption]="'Status'"
        [alignment]="'center'"
        [dataType]="'number'"
        [allowFiltering]="false"
        [cellTemplate]="'StatusTemplate'"></dxi-column>

    <dxi-column
        [width]="70"
        [dataField]="'date'"
        [caption]="'Date'"
        [dataType]="'date'"
        [cssClass]="'text-center text-secondary adv-size-small font-weight-bolder'"
        [cellTemplate]="'DateTemplate'"></dxi-column>

    <dxi-column
        [width]="45"
        [alignment]="'center'"
        [allowSorting]="false"
        [allowSearch]="false"
        [cellTemplate]="'DownloadChatTemplate'"></dxi-column>

    <dxi-column
        [width]="45"
        [alignment]="'center'"
        [allowSorting]="false"
        [allowSearch]="false"
        [cellTemplate]="'EditTemplate'"></dxi-column>

    <dxi-column
        [width]="45"
        [alignment]="'center'"
        [allowSorting]="false"
        [allowSearch]="false"
        [cellTemplate]="'DeleteTemplate'"></dxi-column>

    <div *dxTemplate="let appointment of 'WhoCreatedTemplate'">
        <i
            class="fas"
            [ngClass]="{
                'fa-user text-warning': (appointment.data.whoCreatedType === Roles.Anonymous),
                'fa-user-graduate text-success': (appointment.data.whoCreatedType !== Roles.Anonymous)
            }"
            [matTooltip]="'Created by ' + RolesList[appointment.data.whoCreatedType].name"
            [matTooltipPosition]="'above'"></i>
    </div>

    <div *dxTemplate="let appointment of 'ButtonNameTemplate'">
        <span *ngIf="appointment.data.buttonName; else emptyButton">
            {{ appointment.data.buttonName }}
        </span>
    </div>

    <div *dxTemplate="let appointment of 'VisitorTemplate'">
        {{ appointment.data.visitorModel.name }}
    </div>

    <div *dxTemplate="let appointment of 'StatusTemplate'">
        <span class="adv-size-small {{ StatusList[appointment.data.status].colorClass }}">
            <i
                class="{{ StatusList[appointment.data.status].iconClass }}"
                [matTooltip]="StatusList[appointment.data.status].name"
                [matTooltipPosition]="'above'"></i>
        </span>
    </div>

    <div *dxTemplate="let appointment of 'GreeterTemplate'">
        <ngx-avatar
            [matTooltip]="'Details'"
            [matTooltipPosition]="'above'"
            [size]="35"
            [initialsSize]="2"
            [name]="appointment.data.greeterModel.name"
            [src]="appointment.data.greeterModel.photo"
            class="avatar"
            (click)="openUserInfoWindow(appointment.data.greeterModel)"></ngx-avatar>
    </div>

    <div *dxTemplate="let appointment of 'DateTemplate';">
        {{ appointment.data.date | date:"short" }}
    </div>

    <div *dxTemplate="let appointment of 'DownloadChatTemplate'">
        <button
            mat-icon-button
            matTooltip="Download Chat"
            matTooltipPosition="above"
            (click)="downloadChat(appointment.data)">
            <i class="fas fa-paperclip text-success"></i>
        </button>
    </div>

    <div *dxTemplate="let appointment of 'EditTemplate'">
        <button
            mat-icon-button
            matTooltip="Edit"
            matTooltipPosition="above"
            (click)="edit(appointment.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let appointment of 'DeleteTemplate'">
        <button
            mat-icon-button
            matTooltip="Delete"
            matTooltipPosition="above"
            (click)="delete(appointment.data)">
            <i class="far fa-trash-alt text-danger"></i>
        </button>
    </div>
   
</dx-tree-list>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>

<ng-template #emptyButton>
    <b>*No button*</b>
</ng-template>