::ng-deep .dx-overlay-content .dx-popup-normal .dx-resizable {
    width: auto !important;
}

::ng-deep .dx-resizable {
    width: auto;
}

::ng-deep  .dx-texteditor-input {
    padding-right: 0px !important;
}

::ng-deep .dx-popup-content {
    padding: 0px;
}

// Devextreme DataGrid advancde styles
::ng-deep .dx-page-sizes .dx-page-size.dx-selection {
    background-color: $primary-color !important;
}
::ng-deep .dx-checkbox-checked .dx-checkbox-icon {
    background-color: $primary-color !important;
}
::ng-deep .dx-checkbox-indeterminate .dx-checkbox-icon {
    background-color: $primary-color !important;
}

::ng-deep .dx-pages .dx-page.dx-selection {
    background-color: $primary-color !important;
}

::ng-deep .dx-row.dx-data-row.dx-row-lines.dx-selection {
    background-color: rgba(red($accent-color), green($accent-color), blue($accent-color), .07) !important;
}

::ng-deep .dx-datagrid-header-panel {
    background: none !important;
}

::ng-deep .dx-datagrid-text-content {
    color: #5f5f5f !important;
    font-size: 18px !important;
    font-weight: bold !important;
}
::ng-deep .dx-datagrid-headers {
    height: auto;
}
::ng-deep .dx-datagrid-headers td {
    background: #f8f8f8 !important;
}
::ng-deep .dx-datagrid-headers div:first {
    height: 35px !important;
    padding-top: 3px;
}
::ng-deep .dx-sort::before {
    font-weight: bold !important;
    color: #217ca5 !important;
}
::ng-deep .dx-command-select {
    width: 40px !important;
    min-width: 40px !important;
}
::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row>td {
    vertical-align: middle;
    height: 48px;
}
::ng-deep .dx-command-expand {
    width: 15px !important;
    min-width: 15px !important;
}
::ng-deep .dx-datagrid {
    background: none !important;
}
::ng-deep .dx-toolbar {
    background: none !important;
}
::ng-deep .dx-freespace-row {
    height: 0px !important;
}
::ng-deep .dx-datagrid-rowsview {
    overflow-y: auto !important;
    border-color: #ededed !important;
}

::ng-deep .dx-datagrid .dx-column-lines > td {
    border-color: #ededed !important;
}