<div class="row">
    <div class="col-12 col-md-9">
        <button
            #DeleteUsersButton
            [disabled]="!selectedUsers.length"
            mat-stroked-button
            color="warn"
            (click)="DeleteUsersButton.disabled ? null : groupDeleting()">
            <i class="far fa-trash-alt"></i>&nbsp;
            Delete {{ selectedUsers.length }} visitor(s)
        </button>
    </div>
</div>

<dx-data-grid
    [dataSource]="users"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    (onSelectionChanged)="onSelection($event)">

    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxo-selection
        [mode]="'multiple'"
        [selectAllMode]="'page'"
        [showCheckBoxesMode]="'always'"></dxo-selection>

    <dxo-paging
        [enabled]="true"
        [pageSize]="30"></dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
    </dxo-pager>

    <dxi-column
        [dataField]="'name'"
        [caption]="'Name'"
        [dataType]="'string'"
        [alignment]="'left'"
        [allowFiltering]="false"
        [cssClass]="'text-left font-weight-bolder'"
        [cellTemplate]="'NameTemplate'"></dxi-column>
    
    <dxi-column
        [dataField]="'url'"
        [caption]="'Link'"
        [dataType]="'string'"
        [alignment]="'left'"
        [allowFiltering]="false"
        [cssClass]="'text-left'"
        [cellTemplate]="'LinkTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'campaignName'"
        [caption]="'Campaign'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cssClass]="'text-left'"
        [cellTemplate]="'CampaignNameTemplate'"></dxi-column>

    <dxi-column
        [width]="'70px'"
        [caption]="'Edit'"
        [allowSearch]="false"
        [allowSorting]="false"
        [allowFiltering]="false"
        [cellTemplate]="'EditTemplate'"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        [width]="'70px'"
        [caption]="'Delete'"
        [allowSearch]="false"
        [allowSorting]="false"
        [allowFiltering]="false"
        [cellTemplate]="'DeleteTemplate'"
        [alignment]="'center'"></dxi-column>

    <div *dxTemplate="let user of 'NameTemplate'">
        <span *ngIf="user.data.name; else emptyData">{{ user.data.name || withoutNameText }}</span>
    </div>

    <div *dxTemplate="let user of 'LinkTemplate'">
        <input
            #LinkInput
            class="full_width_field"
            type="text"
            readonly="true"
            [matTooltip]="user.data.url"
            [matTooltipPosition]="'above'"
            [value]="user.data.url"
            (click)="LinkInput.select()" />
    </div>

    <div *dxTemplate="let user of 'CampaignNameTemplate'">
        <span *ngIf="user.data.campaignName; else emptyData">{{ user.data.campaignName }}</span>
    </div>

    <div *dxTemplate="let user of 'PhoneTemplate'">
        <span *ngIf="user.data.phoneNumber; else emptyData">{{ user.data.phoneNumber }}</span>
    </div>

    <div *dxTemplate="let user of 'EditTemplate'">
        <button
            mat-icon-button
            [matTooltip]="'Edit'"
            [matTooltipPosition]="'above'"
            (click)="edit(user.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let user of 'DeleteTemplate'">
        <button
            mat-icon-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            [matTooltipPosition]="'above'"
            (click)="delete(user.data)">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>
</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>