:host ::ng-deep td, th {
    padding: 5px !important;
}

.full_width_field {
    width: 100%;
}

.staff-table {
    width: 100%;
}

.avatar {
    display: inline-block;
}

.search_field {
    width: 100%;
}