<div
    [attr.data-tech-id]="data.id"
    [style.backgroundColor]="data.backgroundColor"
    class="wrapper">

    <h3
        [ngClass]="(data.titleColor) ? '' : 'text-secondary'"
        [style.color]="data.titleColor"
        [style.fontFamily]="data.titleFont">
        <i
            *ngIf="data.titleIconEnabled && data.name"
            class="{{ ContentTypeList[data.type].iconClass }}">
        </i>

        {{ data.name }}
    </h3>

    <div [ngSwitch]="data.type">

        <app-greeters-block
            #BlockItem
            *ngSwitchCase="ContentType.Greeters"
            [data]="data">
        </app-greeters-block>

        <app-text-block
            #BlockItem
            *ngSwitchCase="ContentType.Text"
            [data]="data">
        </app-text-block>

        <app-html-block
            #BlockItem
            *ngSwitchCase="ContentType.Html"
            [data]="data">
        </app-html-block>

        <app-video-block
            #BlockItem
            *ngSwitchCase="ContentType.Video"
            [data]="data">
        </app-video-block>

        <app-appointment-block
            #BlockItem
            *ngSwitchCase="ContentType.Appointment"
            [data]="data">
        </app-appointment-block>

        <app-calendar-block
            #BlockItem
            *ngSwitchCase="ContentType.Scheduler"
            [data]="data">
        </app-calendar-block>

    </div>

    <button
        *ngIf="data.chatButton"
        mat-flat-button
        color="primary"
        (click)="OnChatButtonClick.emit(data)">
        {{ data.chatButton.name }}
    </button>

</div>