@import "../../../../../../Styles/colors.scss";

h3 {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

:host ::ng-deep img {
    max-width: 100%;
    margin: 5px;
}

:host ::ng-deep iframe {
    max-width: 100%;
    margin: 5px;
}

.wrapper {
    width: 100%;
    display: inline-block;
    margin: 5px 0px;
    padding: 10px;
    word-wrap: break-word;
}
