@import "../../../../Styles/colors.scss";

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.messages {
    padding: 15px 10px 25px 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    overflow-y: scroll;

    height: 100%;
}

.messages-wrapper {
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    flex: 1 0 0;
}

.myself-block {
    color: $sub-title;
    background-color: #e5e5e5;

    float: right;
}

.someone-else-block {
    color: #e5e5e5;
    background-color: $sub-title;
}

.message-textarea {
    min-height: 50px;
    background-color: #f4f4f4;

    overflow: hidden;
    padding-bottom: 5px;
}

.message-block-space-equal {
    margin-top: 4px;
}
.message-block-space-different {
    margin-top: 10px;
}

.loader-wrapper {
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.message-unifying-block {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.messages-wrapper-input-disabled {
    padding-bottom: 5px;
}

@-moz-document url-prefix(){
    .messages-wrapper {
        flex: 1 0 0;
    }
    .message-textarea {
        margin-top: 10px;
    }
}

.is-typing-block {
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 200px;
    background-color: $sub-title;
    color: #e5e5e5 !important;

    margin-left: 45px;
    margin-top: 3px;
}

.who-writes-text {
    font-size: 12px;
}
