<ng-template #loader>
    <div class="loader-wrapper">
        <app-loader></app-loader>
    </div>
</ng-template>

<div
    *ngIf="(chatInfo$ | async) as chatInfo; else loader"
    class="wrapper">
    <div class="messages-block-toolbar">
        <messages-block-toolbar
            [chatInfo]="chatInfo"
            [userInfo]="userInfo"
            [isShowContacts]="isShowContacts"
            [isShowCloseButton]="isShowCloseButton"
            (OnBack)="closeMessages()"
            (OnClose)="closeChat()">
        </messages-block-toolbar>
    </div>

    <div class="message-unifying-block">
        <div
            *ngIf="(messagesList$ | async) as messagesList;"
            [ngClass]="{
                'messages-wrapper': true,
                'messages-wrapper-input-disabled': !chatInfo.isTextInputEnabled
            }">
            <div
                #scrollContainer
                class="messages"
                infiniteScroll
                [infiniteScrollDistance]="1"
                [infiniteScrollUpDistance]="1"
                [infiniteScrollThrottle]="50"
                [scrollWindow]="false"
                (scrolledUp)="onScrollTop()">
                <message-block
                    *ngFor="let message of messagesList; trackBy: trackByFn; let i = index"
                    #messageBlocks
                    [ngClass]="{
                        'message-block-space-equal': messagesHasEqualAuthor((i > 0)? messagesList[i - 1] : message, message),
                        'message-block-space-different': !messagesHasEqualAuthor((i > 0)? messagesList[i - 1] : message, message)
                    }"
                    [chatLink]="roomLink"
                    [isMyself]="chatInfo.myChatId === message.chatUserId"
                    [showName]="(i > 0)? (messagesList[i - 1].chatUserId === message.chatUserId ? false : true) : true"
                    [showPhoto]="(messagesList.length !== (i + 1)) ? ((messagesList[i + 1].chatUserId !== message.chatUserId)? true : false) : true"
                    [message]="message"
                    [mediaViewer]="mediaViewer"
                    (OnDelete)="deleteMessage(message)">
                </message-block>

                <div
                    *ngIf="(typing$ | async) as typing" 
                    class="is-typing-block-wrapper">
                    <div
                        *ngIf="typing.isTyping" 
                        class="is-typing-block">
                        <app-loader [loaderType]="'LineDots'"></app-loader>
                        <span class="who-writes-text">{{ typing.whoWrites }}</span>
                    </div>
            </div>
        </div>

  
    </div>
    <div
    *ngIf="chatInfo.isTextInputEnabled"
    class="message-textarea">
    <message-textarea
        [isDisable]="!chatInfo.isTextInputEnabled"
        [chatLink]="roomLink"
        (OnSendMessage)="sendMessage($event)">
    </message-textarea>
</div>
</div>

<app-media-preview
    #mediaViewer>
</app-media-preview>
