<h4 class="text-primary">
    <span *ngIf="data.mode === 'addition'">Add</span>
    <span *ngIf="data.mode === 'editing'">Edit</span>

    Hidden Status
</h4>

<mat-dialog-content>
    <form
        *ngIf="statusFormGroup; else loading"
        [formGroup]="statusFormGroup">
        <mat-form-field class="field_full_width">
            <textarea
                matInput
                [formControl]="nameFormControl"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        (click)="close()">
        Cancel
    </button>

    <button
        mat-raised-button
        color="primary"
        (click)="save()">
        <app-button-loader *ngIf="isSaving"></app-button-loader>
        <span *ngIf="!isSaving">Save</span>
    </button>
</mat-dialog-actions>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>