<div class="wrapper">
    <div class="justify-content-center">
        <div class="auth-block">

            <div class="text-center">
                <h1>Welcome</h1>
            </div>
            
            <div class="advanced-mat-card">
                <form
                    [formGroup]="signInForm"
                    (keydown)="($event.key === 'Enter')? signIn() : null">
                    <div class="inputs text-center">
                        <mat-form-field style="padding-bottom: 15px;">
                            <span matPrefix>
                                <i 
                                    [ngClass]="{
                                        'fa-smile': login.valid || !login.touched,
                                        'fa-frown': !login.valid && login.touched,
                                        'far fa-lg input-icon': true
                                    }">
                                </i>
                                &nbsp;
                            </span>
                            <input 
                                matInput
                                formControlName="login"
                                autofocus
                                placeholder="Login">

                            <mat-error
                                *ngIf="!login.valid && login.touched">
                                <span *ngIf="login.hasError('minlength')">
                                    Min login length is: {{ login.errors['minlength'].requiredLength }}
                                </span>
                                <span *ngIf="login.hasError('maxlength')">
                                    Max login length is: {{ login.errors['maxlength'].requiredLength }}
                                </span>
                                <span *ngIf="login.hasError('required')">
                                    This field is required
                                </span>
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field>
                            <span matPrefix>
                                <i class="fas fa-key fa-lg input-icon"></i>&nbsp;
                            </span>
                            <input 
                                matInput
                                formControlName="password"
                                [type]="(isShowPassword)? 'text' : 'password'" 
                                placeholder="Password">
                            <i 
                                matSuffix
                                [ngClass]="{
                                    'fa-eye': !isShowPassword,
                                    'fa-eye-slash': isShowPassword,
                                    'far show-password': true
                                }"
                                (click)="showPassword()">
                            </i>

                            <mat-error
                                *ngIf="!password.valid && password.touched">
                                <span *ngIf="password.hasError('minlength')">
                                    Min password length is: {{ password.errors['minlength'].requiredLength }}
                                </span>
                                <span *ngIf="password.hasError('maxlength')">
                                    Max password length: {{ password.errors['maxlength'].requiredLength }}
                                </span>
                                <span *ngIf="password.hasError('required')">
                                    This field is required
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>

                <div class="toolbar text-right">
                    <button
                        mat-raised-button
                        type="submit"
                        color="primary"
                        class="signIn-btn advanced-btn"
                        (click)="signIn()">
                            <span *ngIf="!isLoad">Sign In</span>
                            <app-button-loader
                                *ngIf="isLoad"
                                class="loader"></app-button-loader>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
