@import "../../Styles/colors.scss";

h1 {
    color: #ffffff;
    opacity: 0.7;
}

mat-form-field {
    width: 100%;
}

.wrapper {
    background-color: $dark-blue;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    user-select: none;
}

.advanced-mat-card {
    background-color: #ffffff !important;
    color: $dark-blue !important;

    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    padding: 20px !important;
    margin: 25px;
}

.auth-block {
    margin: 120px;
}

.auth-form {
    width: 100%;
}
.advanced-mat-card {
    height: 305px;
    width: 400px;

    margin-top: 15px;
    padding: 45px;

    display: flex;
    flex-direction: column;
}


.option-wrapper {
    display: flex;
    padding-top: 10px;

    .remember-me {
        font-size: 15px;
    }
    .forget-password {
        font-size: 15px;
        color: $link-color;
        margin-left: auto;

        cursor: pointer;
    }
    .forget-password:hover {
        text-decoration: underline;
    }
}

.input-wrapper {
    height: 100%;
}

.toolbar {
    width: 100%;
    margin-top: 15px;
}

.signIn-btn {
    width: 72px;
    height: 38px;
    display: inline-block;
    outline: none !important;
}

.advanced-btn {
    color: #ffffff !important;
    font-weight: 500;
}

.show-password {
    cursor: pointer;
}

.advanced-title {
    padding-bottom: 0px !important;
}