<div
    *ngIf="scheduleView"
    class="wrapper">
        <div class="header-block">
            <app-randge-date
                [inputDate]="inputDate"
                (OnChange)="dateRangeOnChange($event)">
            </app-randge-date>

            <button
                mat-button 
                class="save-btn"
                (click)="saveScheduleView()">
                    <span class="save-btn-text">Save</span>
                    <i class="fas fa-save"></i>
            </button>
        </div>


        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                      Schedules
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-schedule-picker
                    [(scheduleList)]="scheduleView.schedules"
                    [height]="200"
                    (OnChange)="onChange($event)">
                </app-schedule-picker>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                      DaysOff
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-days-off
                    [(daysOff)]="scheduleView.daysOff"
                    [height]="165">
                </app-days-off>
            </mat-expansion-panel>
        </mat-accordion>
</div>
