@import "../../Styles/colors.scss";
.header-block {
    display: flex;
    align-items: center;
    color: $sub-title;
}

.save-btn {
    margin-left: auto;
    color: $accent-color;
}

.save-btn-text {
    margin-right: 4px;
}

:host ::ng-deep .mat-expansion-panel-spacing {
    background: #f7f7f7;
} 


.panel-title {
    font-weight: 600;
    font-size: 17px;

    color: $sub-title;
}