<h4 class="text-secondary">
    Hidden Statuses
</h4>

<button
    mat-raised-button
    color="primary"
    (click)="openAdditionWindow()">
    Add
</button>

<app-hidden-statuses-table
    #StatusesTable
    [campaignId]="campaignId"></app-hidden-statuses-table>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>