@import "../../../../../../../../Styles/colors.scss";

h4 {
    margin: 7px 0px;
}

:host ::ng-deep mat-dialog-content {
    max-height: 85%;
}

.toolbar_button {
    display: inline-block;
    margin-left: 10px;
}

.full_width_field {
    width: 100%;
}

.joe_lion_block {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 7px;
    border: solid 3px #fff;

    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}

.joe_lion_selected {
    border: solid 3px $accent-color;
}

.joe_lion_photo_wrapper {
    margin-top: 7px;
}

.block_bg_preview {
    max-width: 100px !important;
    height: auto !important;
}