<h4 class="text-primary font-weight-bold">
    <span *ngIf="data.mode === 'addition'">Add</span>
    <span *ngIf="data.mode === 'editing'">Edit</span>
    content block
</h4>

<mat-dialog-content>
    <form
        *ngIf="blockFormGroup; else loading"
        [formGroup]="blockFormGroup">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="full_width_field">
                    <input
                        matInput
                        [formControl]="nameFormControl"
                        type="text"
                        placeholder="Name" />
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="full_width_field">
                    <mat-label>Content type</mat-label>
                    <mat-select
                        [formControl]="typeFormControl"
                        (selectionChange)="changeContent('')">
                        <mat-option
                            *ngFor="let type of ContentTypeListAsArray"
                            [value]="type.id">
                            <i class="text-secondary {{ type.iconClass }}"></i>&nbsp;
                            {{ type.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12">
                <div [ngSwitch]="typeFormControl.value">
                    <app-greeters-content
                        *ngSwitchCase="ContentType.Greeters"
                        [greeterIds]="contentFormControl.value"
                        (OnChange)="changeContent($event)"></app-greeters-content>

                    <app-text-content
                        *ngSwitchCase="ContentType.Text"
                        [text]="contentFormControl.value"
                        [campaignId]="data.campaignId"
                        [variablesList]="textVariablesList"
                        (OnChange)="changeContent($event)"></app-text-content>

                    <app-html-content
                        *ngSwitchCase="ContentType.Html"
                        [content]="contentFormControl.value"
                        [mode]="data.mode"
                        [campaignId]="data.campaignId"
                        (OnChange)="changeContent($event)"></app-html-content>

                    <app-video-content
                        *ngSwitchCase="ContentType.Video"
                        [videoSrc]="contentFormControl.value"
                        (OnChange)="changeContent($event)"></app-video-content>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <h4
            [ngClass]="(titleColorFormControl.value) ? '' : 'text-secondary'"
            [style.fontFamily]="titleFontFormControl.value"
            [style.color]="titleColorFormControl.value">
            <i
                *ngIf="titleIconEnabledFormControl.value"
                [ngClass]="(titleIconEnabledFormControl.value) ? ContentTypeDictionary[typeFormControl.value].iconClass : ''"></i>
            Block customization
        </h4>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <mat-form-field>
                    <mat-label>Title font</mat-label>
                    <mat-select [formControl]="titleFontFormControl">
                        <mat-option
                            *ngFor="let font of fontList"
                            [value]="font">
                            <span [style.fontFamily]="font">{{ font }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div
                class="col-sm-12 col-md-6"
                style="padding-top: 20px;">
                <dx-color-box
                    [placeholder]="'Title color'"
                    [formControl]="titleColorFormControl"></dx-color-box>
            </div>

            <div class="col-sm-12 col-md-6">
                <mat-checkbox
                    [color]="'primary'"
                    [formControl]="titleIconEnabledFormControl">Show title icon</mat-checkbox>
            </div>

            <div class="col-sm-12 col-md-6">
                <dx-color-box
                    [placeholder]="'Background color'"
                    [editAlphaChannel]="true"
                    [formControl]="blockBackgroundColorFormControl"></dx-color-box>
            </div>

            <!-- Block background (works, but without backend) -->
            <!-- <div class="col-sm-12 col-md-6" style="margin-bottom: 10px;">
                <span>Background Image</span>

                <div *ngIf="!blockBackgroundFormControl.value">
                    <input
                        #BlockBackgroundUploader
                        hidden
                        type="file"
                        accept="image/.jpeg,.jpg,.png,.bmp"
                        (change)="makeBase64FromSelectedBg($event)"/>

                    <button
                        mat-stroked-button
                        color="primary"
                        (click)="selectBg()">Select (optional)</button>
                </div>

                <div *ngIf="blockBackgroundFormControl.value">
                    <img
                        class="block_bg_preview"
                        [attr.src]="blockBackgroundFormControl.value" />

                    <button
                        mat-icon-button
                        [matTooltip]="'Edit'"
                        [matTooltipPosition]="'above'"
                        (click)="blockBackgroundFormControl.reset()">
                        <i class="fas fa-pen"></i>
                    </button>
                </div>
            </div> -->
        </div>

        <button
            mat-button
            color="primary"
            (click)="clearCustomization()">To default</button>

        <mat-divider></mat-divider>

        <div class="row">
            <div class="col-12" style="margin-top: 30px;">
                <app-chip-input
                    [placeholder]="'Tags'"
                    [allowCustomChipValue]="true"
                    [formControl]="tagsFormControl"></app-chip-input>
            </div>
        </div>

        <mat-divider></mat-divider>

        <h4 class="text-secondary">Joe Lion</h4>

        <div class="row">
            <div class="col-12">
                <app-input-with-variables
                    [placeholder]="'Joe Lion message'"
                    [variables]="joeLionVariablesList"
                    [formControl]="leoMessageFormControl"></app-input-with-variables>
            </div>

            <div class="col-12">
                <div class="joe_lion_photo_wrapper">
                    Select Joe Lion photo
                </div>

                <img
                    *ngFor="let leo of JoeLionFaceListAsArray"
                    [ngClass]="leo.id === leoPhotoFormControl.value ? 'joe_lion_selected' : ''"
                    [matTooltip]="leo.name"
                    [matTooltipPosition]="'above'"
                    class="joe_lion_block"
                    src="{{ leo.imageSrc }}"
                    (click)="changeLeoPhoto(leo)" />
            </div>
        </div>

        <h4 class="text-secondary">Chat button</h4>

        <div class="row">
            <div class="col-6">
                <mat-checkbox
                    [formControl]="isChatButtonEnabledFormControl"
                    color="primary">
                    Show chat button
                </mat-checkbox>
            </div>

            <div
                *ngIf="isChatButtonEnabledFormControl.value"
                class="col-6">
                <mat-form-field class="full_width_field">
                    <input
                        matInput
                        [formControl]="chatButtonNameFormControl"
                        type="text"
                        placeholder="Button name" />
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        class="toolbar_button"
        (click)="close()">Cancel</button>

    <button
        mat-raised-button
        color="primary"
        class="toolbar_button"
        (click)="save()">
        <span *ngIf="!isLoading">Save</span>
        <app-button-loader *ngIf="isLoading"></app-button-loader>
    </button>
</mat-dialog-actions>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>