<div class="row">
    <div
        *ngFor="let staffUser of data.content"
        class="col-sm-6 col-md-3 col-lg-2 user-card-column">
        <app-user-card
            [user]="staffUser">
        </app-user-card>
    </div>
</div>