<div class="wrapper">
    <h4 class="text-secondary">
        Logs
    </h4>

    <div class="content_wrapper">
        <form
            *ngIf="logsReportFormGroup; else loading"
            [formGroup]="logsReportFormGroup">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="full_width_field">
                        <mat-label>Campaign</mat-label>
                        <mat-select [formControl]="campaignIdFormControl">
                            <mat-option
                                *ngFor="let campaign of campaignList"
                                [value]="campaign.id">
                                {{ campaign.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <app-randge-date
                        [inputDate]="{ from: fromFormControl.value, to: toFormControl.value }"
                        (OnChange)="changeDateRange($event)"></app-randge-date>
                </div>
            </div>
        </form>

        <div class="text-center">
            <button
                mat-raised-button
                class="bg-success download_button"
                (click)="download()">
                <span *ngIf="!isDownload">
                    <i class="fas fa-download"></i>&nbsp;
                    Download
                </span>
                <app-button-loader *ngIf="isDownload"></app-button-loader>
            </button>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>