@import "../../../../../../../../../../../../Styles/colors.scss";

.if-operator-block {
    padding: 4px;
    border: 1px solid #dee0e8;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stipulation {
    display: flex;
    align-items: baseline;

    border: 1px solid #d5d7de;
    border-radius: 10px;
    height: 77px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.toolbar {
    display: flex;
}

.add-stipulations-btn {
    margin-left: auto;
}

.if-operator-block {
    display: flex;
    justify-content: center;

    border: 3px solid #dee0e8;
    font-weight: 600;

    width: 50px !important;
}

.connector-select {
    width: 95px;
}

.connector {
    width: 95px;
    display: flex;
    justify-content: center;

    margin-left: 10px;
}

.variable {
    width: 150px;
    margin-left: 15px;
}

.logical-operator {
    width: 110px;
    margin-left: 15px;
}

.value-block {
    width: 150px;
    margin-left: 15px;
}

.condition-toolbar {
    width: 50px;
    margin-left: 15px;
}

.delete-condition-btn {
    color: $danger-color;
}
