<div class="toolbar">
    <button 
        mat-button
        color="primary"
        class="add-stipulations-btn"
        (click)="addStipulations()">
        Add condition
    </button>
</div>
<dx-scroll-view
[height]="275">
<div class="stipulations-wrapper">
    <div
        *ngFor="let stipulation of stipulations; let i = index;" 
        class="stipulation">
            <div
                [ngSwitch]="i" 
                class="connector">
                    <div
                        *ngSwitchCase="0"
                        class="if-operator-block">
                            <span>IF</span>
                    </div>
                    <div
                        *ngSwitchDefault>
                        <mat-form-field>
                            <mat-select
                                placeholder="Connector"
                                class="connector-select"
                                [(ngModel)]="stipulation.connectorType">
                                <mat-option 
                                    *ngFor="let connector of ConnectorsList | keyvalue" 
                                    [value]="+connector.key">
                                        {{ connector.value.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
            </div>
            <div class="variable">
                <mat-form-field>
                    <mat-select
                        placeholder="Variable"
                        [(ngModel)]="stipulation.variable">
                        <mat-option 
                            *ngFor="let variable of conditionVariables" 
                            [value]="variable.id">
                                {{ variable.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="logical-operator">
                <mat-form-field>
                    <mat-select
                        placeholder="Operator"
                        [(ngModel)]="stipulation.condition">
                        <mat-option 
                            *ngFor="let operator of LogicalOperatorsList | keyvalue" 
                            [value]="+operator.key">
                                {{ operator.value.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="value-block">
                <app-chip-input
                    [value]="stipulation.value || null"
                    [autocompleteItems]="variablesList"
                    [autocompleteDisplayExpr]="'name'"
                    [autocompleteValueExpr]="'name'"
                    [allowCustomChipValue]="true"
                    [maxCountOfChips]="1"
                    [placeholder]="'Variable'"
                    (change)="chipInputOnChange($event, i)">
                </app-chip-input>
            </div>

            <div class="condition-toolbar">
                <button 
                    mat-icon-button
                    class="delete-condition-btn"
                    (click)="deleteStipulations(i)">
                    <i class="fas fa-times"></i>
                </button>
            </div>
    </div>
</div>
</dx-scroll-view>
