<h4 class="text-secondary">
    Conditions
</h4>

<div class="toolbar">
    <button
        mat-raised-button
        color="primary"
        (click)="add()">
        Add condition
    </button>

    <button
        mat-icon-button
        color="primary"
        class="play-scenario-button"
        (click)="onPlayScenario()">
        <i class="fas fa-play"></i>
    </button>
</div>
<table
    *ngIf="dataSource.data; else loading"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="conditions-table">

    <ng-container [matColumnDef]="'name'">
        <th
            *matHeaderCellDef
            mat-header-cell
            class="text-left font-weight-bold">Name</th>

        <td
            *matCellDef="let condition"
            mat-cell
            class="text-left font-weight-bolder">{{ condition.name }}</td>
    </ng-container>

    <ng-container [matColumnDef]="'conditionText'">
        <th
            *matHeaderCellDef
            mat-header-cell
            class="text-left font-weight-bold">Condition</th>

        <td
            *matCellDef="let condition"
            mat-cell
            class="text-left font-weight-bolder">{{ condition.conditionText }}</td>
    </ng-container>

    <ng-container [matColumnDef]="'position'">
        <th
            *matHeaderCellDef
            mat-header-cell
            class="text-center font-weight-bold">Position</th>

        <td
            *matCellDef="let condition; let i = index;"
            mat-cell
            class="text-center font-weight-bolder">
            <button
                *ngIf="condition.position !== 0"
                mat-icon-button
                [matTooltip]="'Move up'"
                [matTooltipPosition]="'left'"
                color="primary"
                (click)="moveUp(condition)">
                <i class="fas fa-arrow-up"></i>
            </button>
            <!-- {{ condition | json }} -->
            <button
                *ngIf="condition.position !== (dataSource.data.length - 1)"
                mat-icon-button
                [matTooltip]="'Move down'"
                [matTooltipPosition]="'right'"
                color="primary"
                (click)="moveDown(condition)">
                <i class="fas fa-arrow-down"></i>
            </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'isActive'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Is Active</th>
        <td
            *matCellDef="let condition"
            mat-cell
            class="text-center">
            <mat-slide-toggle
                class="example-margin"
                color="primary"
                [checked]="true"
                (click)="onIsActivateClick(condition)">
            </mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'play'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Play</th>
        <td
            *matCellDef="let condition"
            mat-cell
            class="text-center">
                <button
                    mat-icon-button
                    color="primary"
                    (click)="onPlayCondition()">
                    <i class="fas fa-play"></i>
                </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'edit'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Edit</th>
        <td
            *matCellDef="let condition"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Edit"
                matTooltipPosition="right"
                class="text-secondary"
                (click)="edit(condition)">
                <i class="fas fa-pen"></i>
            </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'delete'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Delete</th>
        <td
            *matCellDef="let condition"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Delete"
                matTooltipPosition="right"
                color="warn"
                (click)="delete(condition.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
    </ng-container>

    <tr
        *matHeaderRowDef="DisplayedColumns"
        mat-header-row></tr>

    <tr
        *matRowDef="let row; columns: DisplayedColumns;"
        mat-row></tr>
</table>

<mat-paginator
    #Paginator
    [pageSizeOptions]="[3, 50, 75]"
    showFirstLastButtons></mat-paginator>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>