@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 10px;
}

.myself-block {
    color: $sub-title;
    background-color: $light-gray;
    margin-left: auto;
}
.someone-block {
    background-color: $sub-title;
    color: $light-gray;
    margin-right: auto;
}

.radio-wrapper {
    border-radius: 5px;
    overflow: hidden;
}

.message-contact-name {
    display: block;
    font-weight: 600;
    color: #9298a6;
}

.message-text {
    color: $light-gray;
    font-size: 15px;
    word-break: break-word;
}

.buttons-wrapper {
    padding: 5px 0px 0px 13px;
}

.radio {
    display: block;
}

.radio-item-wrapper {
    display: flex;
    align-items: center;
}

.item-name {
    margin-left: 5px;
}

.meet-button {
    display: flex;

    align-items: center;
    justify-content: center;

    margin-top: 5px;

    outline: none;
    padding: 5px;

    width: 100%;

    font-size: 15px;

    border: 1px solid $light-gray;
    border-radius: 5px;

    background-color: $sub-title;
    color: $light-gray;

    &:hover {
        background-color: $light-blue;
    }

    &:active {
        background-color: $dark-blue;
    }
}

:host ::ng-deep .mat-checkbox-frame {
    border: 1px solid rgba(255, 255, 255, 0.54) !important;
}
