<div class="advanced-title">
    Choose a date
</div>

<mat-form-field>
    <input 
        matInput 
        [matDatepicker]="picker" 
        placeholder="Select date"
        [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="toolbar">
    <button
        class="choose-btn" 
        mat-button
        (click)="chooseDate()">
            Choose
    </button>
</div>
