<form>
    <mat-form-field class="full_width_field">
        <i matPrefix class="fab fa-youtube text-secondary"></i>
    
        <input
            matInput
            placeholder="Link from Youtube"
            [formControl]="videoLinkControl" />

        <mat-error *ngIf="videoLinkControl.hasError('isVideoLinkIncorrect')">
            Incorrect Youtube Link
        </mat-error>
    </mat-form-field>
</form>