@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    display: flex;
    align-items: center;
}

.message-wrapper {
    border-radius: 20px;
    padding: 5px 10px;

    height: 100%;
    margin-left: 3px;
}

.myself-block {
    background-color: #e5e5e5;
    color: $sub-title;
}
.someone-block {
    background-color: $sub-title;
    color: #e5e5e5;
}

.message-date-time {
    padding-left: 5px;
    padding-top: 5px;
    float: right;

    font-size: 12px;
    opacity: 0.7;
}

.message-contact-name {
    display: block;
    font-weight: 600;
    color: #9298a6;
}

.message-text {
    word-break: break-word;
    display: inline;
}
