<div class="wrapper">    
    <div
        [ngClass]="{
            'myself-block': isMyself,
            'someone-block': !isMyself
        }"
        class="message-wrapper">
            <span
                *ngIf="!isMyself && showName"
                class="message-contact-name">
                    {{ message.chatUserName }}
            </span>
    
            <div 
                class="message-text"
                [innerHTML]="message.text">
            </div>
    
            <span class="message-date-time">
                {{ message.sendDate | date:"shortTime" }}
            </span>

            <app-question-message-toolbar
                [chatLink]="chatLink"
                [message]="message">
            </app-question-message-toolbar>
    </div>
</div>
