<h4 class="text-primary">
    <span *ngIf="data.mode === 'addition'">Add</span>
    <span *ngIf="data.mode === 'editing'">Edit</span>
    appointment
</h4>

<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Info">
            <ng-template matTabContent>
                <app-info-page
                    [dialogRef]="dialogRef"
                    [appointmentId]="data.appointmentId"
                    [mode]="data.mode"></app-info-page>
            </ng-template>
        </mat-tab>
    
        <mat-tab
            *ngIf="data.mode === 'editing'"
            label="Details">
            <ng-template matTabContent>
                <app-details-page
                    [dialogRef]="dialogRef"
                    [appointmentId]="data.appointmentId"></app-details-page>
            </ng-template>
        </mat-tab>
    
        <mat-tab
            *ngIf="data.mode === 'editing'"
            label="Notes">
            <ng-template matTabContent>
                <app-notes-page
                    [dialogRef]="dialogRef"
                    [appointmentId]="data.appointmentId"></app-notes-page>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>