<div class="row">
    <div class="offset-0 offset-md-9"></div>
    <div class="col-12 col-md-3">
        <mat-form-field class="search_field">
            <input
                matInput
                (keyup)="search($event.target.value)"
                placeholder="Search">
        </mat-form-field>
    </div>
</div>

<table
    *ngIf="dataSource.data; else loading"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="user-variables-table">

    <ng-container [matColumnDef]="'name'">
        <th
            *matHeaderCellDef
            mat-header-cell
            class="text-left font-weight-bold">Name</th>

        <td
            *matCellDef="let variable"
            mat-cell
            class="text-left font-weight-bolder">
            {{ variable.name }}
        </td>
    </ng-container>
  
    <ng-container [matColumnDef]="'value'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left font-weight-bold">Value</th>

        <td
            *matCellDef="let variable"
            mat-cell
            class="text-left">{{ variable.value }}</td>
    </ng-container>

    <ng-container [matColumnDef]="'edit'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Edit</th>
        <td
            *matCellDef="let variable"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Edit"
                matTooltipPosition="right"
                (click)="openEditingWindow(variable)">
                <i class="fas fa-pen"></i>
            </button>
        </td>
    </ng-container>

    <tr
        *matHeaderRowDef="DisplayedColumns"
        mat-header-row></tr>

    <tr
        *matRowDef="let row; columns: DisplayedColumns;"
        mat-row></tr>
</table>

<mat-paginator
    #Paginator
    [pageSizeOptions]="[10, 25, 50, 75]"
    showFirstLastButtons></mat-paginator>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>