:host {
    width: 32px;
    height: 36px;
    display: inline-block;
    text-align: center;
}

.wrapper {
    width: 32px;
    height: 36px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lds-dual-ring {
    width: 32px;
    height: 36px;
    top: 0px;
    left: 0px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}