<div
    *ngIf="advancedAltObject"
    class="wrapper">
    <div class="toolbar">
        <button 
            mat-raised-button
            color="primary"
            (click)="saveAltObjects()">
            Save
        </button>
    </div>
    <table
        mat-table
        class="mat-elevation-z8"
        [dataSource]="advancedAltObject">
        <ng-container matColumnDef="image">
            <th 
                *matHeaderCellDef
                mat-header-cell>
                Image
            </th>
            <td 
                *matCellDef="let element"
                mat-cell>
                <div [ngSwitch]="element.type">
                    <div *ngSwitchCase="AppAltObjectTypeEnum.Icon">
                        <i [class]="element.data"></i>
                    </div>

                    <div *ngSwitchCase="AppAltObjectTypeEnum.Image">
                        <img
                            class="alt-image"
                            [src]="element.data">
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th 
                *matHeaderCellDef
                mat-header-cell
                class="value-th">
                Value
            </th>
            <td 
                *matCellDef="let element"
                class="value-td"
                mat-cell>
                <mat-form-field >
                    <input 
                        matInput 
                        placeholder="Value"
                        [(ngModel)]="element.value">
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
