.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 10px;
}

table {
    width: 100%;
}

.alt-image {
    max-height: 40%;
    padding: 5px 5px 5px 0px;
}

.value-td {
    width: 100%;
    padding-left: 24px; 
}

.value-th {
    padding-left: 20px; 
}
