<span class="text-seconary adv-size-small">{{ placeholder }}</span>

<dx-html-editor
    *ngIf="variables; else loading"
    [value]="value"
    [placeholder]="placeholder"
    (valueChange)="processValue($event)">
    <dxi-mention
        [marker]="'#'"
        [displayExpr]="'name'"
        [valueExpr]="'name'"
        [searchExpr]="'name'"
        [dataSource]="variables"></dxi-mention>
</dx-html-editor>

<div class="hint_block text-primary adv-size-medium">
    Use "<b class="variable_symbol">&nbsp;{{ VariableSymbol }}&nbsp;</b>" symbol in this field to paste variable.
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>