<h4 class="text-primary font-weight-bold">
    <span *ngIf="data.mode === 'addition'">Add</span>
    <span *ngIf="data.mode === 'editing'">Edit</span>
    variable
</h4>

<mat-dialog-content>
    <form [formGroup]="variableFormGroup">
        <div class="row">
            <div class="col-12 app-items-vertical-middle">
                <mat-form-field *ngIf="data.mode === 'addition'">
                    <input
                        matInput
                        [formControl]="nameFormControl"
                        type="text"
                        placeholder="Name" />
                </mat-form-field>
                <b *ngIf="data.mode === 'editing'">{{ nameFormControl.value }}</b>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        class="toolbar_button"
        (click)="cancel()">Cancel</button>

    <button
        mat-raised-button
        color="primary"
        class="toolbar_button"
        (click)="save()">
        <span *ngIf="!isLoading">Save</span>
        <app-button-loader *ngIf="isLoading"></app-button-loader>
    </button>
</mat-dialog-actions>