<dx-scheduler
    [dataSource]="dataSource"
    [views]="['day']"
    [currentView]="'day'"
    [(currentDate)]="currentDate"
    [startDayHour]="8"
    [endDayHour]="18"
    [showAllDayPanel]="false"
    [adaptivityEnabled]="false"
    [crossScrollingEnabled]="true"
    [cellDuration]="60"
    [groups]="['greeterId']"
    [resourceCellTemplate]="'resourceCellTemplate'"
    [appointmentTemplate]="'appointmentTemplate'"
    (onOptionChanged)="onOptionChanged($event)">

    <dxo-editing
        [allowAdding]="false"
        [allowUpdating]="false"
        [allowDeleting]="false"
        [allowResizing]="false"
        [allowDragging]="false">
    </dxo-editing>

    <dxi-resource
        [fieldExpr]="'greeterId'"
        [allowMultiple]="false"
        [dataSource]="greeters"
        [label]="'Greeter'">
    </dxi-resource>

    <div
        *dxTemplate="let greeter of 'resourceCellTemplate'"
        style="width: 100%;">

        <div
            class="greeter-block"
            [matTooltip]="'View'"
            [matTooltipPosition]="'above'"
            (click)="OnGreeterBlockClick.emit(greeter.data)">
            <div
                class="avatar"
                [style.borderColor]="greeter.data.color"
                [ngStyle]="{ 'background-image': 'url(' + greeter.data.photo + ')' }">
            </div>

            {{ greeter.data.name }}
        </div>

    </div>

    <div *dxTemplate="let model of 'appointmentTemplate'">
        {{ model.appointmentData.text }}
    </div>

</dx-scheduler>