@import "../../Styles/colors.scss";

::ng-deep .dx-scheduler-date-table-other-month.dx-scheduler-date-table-cell {
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
}

::ng-deep .dx-scheduler-group-header-content, ::ng-deep .dx-scheduler-date-table-cell {
    position: relative;
}

::ng-deep .dx-scheduler-date-table-cell .dx-template-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

::ng-deep .dx-scheduler-group-header-content {
    padding: 0px !important;
}

::ng-deep .avatar {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-size: contain;
    border: 3px solid #ffffff;
}

::ng-deep .greeter-block {
    width: 100%;
    color: $primary-color;
    text-align: center;
    font-size: 10px;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
        opacity: .9;
        cursor: pointer;
    }
}

::ng-deep .dx-scheduler-work-space-both-scrollbar {
    float: none !important;
}

::ng-deep .dx-scheduler-header-panel-cell.dx-scheduler-cell-sizes-horizontal {
    width: 100px !important;
}

::ng-deep .dx-scheduler-date-table-cell.dx-scheduler-cell-sizes-horizontal.dx-scheduler-cell-sizes-vertical.dx-scheduler-last-group-cell.dx-scheduler-first-group-cell {
    width: 100px !important;
}

::ng-deep .dx-template-wrapper.dx-item-content.dx-scheduler-appointment-content {
    font-size: 10px !important;
}

::ng-deep .dx-scheduler-view-switcher.dx-dropdownmenu {
    display: none;
}

::ng-deep .dx-scheduler-view-switcher-label {
    display: none;
}

::ng-deep .dx-scheduler-appointment-popup {
    display: none;
}