<mat-form-field
    [ngClass]="{
        'chip-form-field': (chips.length >= maxCountOfChips)
    }"
    class="full_width_field">
    <i
        *ngIf="prefixClass"
        matPrefix
        [ngClass]="prefixClass"></i>

    <mat-chip-list #chipList>
        <mat-chip
            *ngFor="let chipVal of chips"
            [selectable]="true"
            [removable]="true"
            (removed)="removeValue(chipVal)">
            <span *ngIf="isAutocompleteItemsObjects">
                {{
                    (autocompleteItemsAsObject[chipVal]) ?
                        autocompleteItemsAsObject[chipVal][autocompleteDisplayExpr]
                        : chipVal
                }}
            </span>
            <span *ngIf="!isAutocompleteItemsObjects">
                {{ chipVal }}
            </span>

            <i
                matChipRemove
                class="fas fa-times text-secondary"></i>
        </mat-chip>

        <input
            #InputElem
            placeholder="{{ placeholder }}"
            [(ngModel)]="autocompleteText"
            [readonly]="chips.length >= maxCountOfChips"
            [matAutocomplete]="Autocompete"
            [matChipInputFor]="chipList"
            [matChipInputAddOnBlur]="allowCustomChipValue"
            (matChipInputTokenEnd)="(allowCustomChipValue) ? addValue($event.value) : null">
    </mat-chip-list>

    <mat-autocomplete #Autocompete="matAutocomplete">
        <mat-option
            *ngFor="let item of autocompleteItems | autocompleteFilter:isAutocompleteItemsObjects:autocompleteDisplayExpr:autocompleteText"
            [value]="(isAutocompleteItemsObjects) ? item[autocompleteValueExpr] : item"
            (click)="addValue(item)">
            {{ (isAutocompleteItemsObjects) ? item[autocompleteDisplayExpr] : item }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>