
<div class="wrapper">
    <div class="top-side-block">
        <button
            class="add-days-off-btn"
            mat-button
            (click)="addDayOff()">
                <i class="fas fa-plus-circle"></i>
                <span class="add-days-off-text">
                    Add
                </span>
        </button>
    </div>

    <dx-scroll-view
        #scheduleScroll
        [height]="height || '100%'">
        <div class="days-off">
            <div
                *ngFor="let day of daysOff; let i = index"
                class="day-off-wrapper">

                    <div class="day-off">
                        <span class="date">
                            {{ day | date:"fullDate" }}
                        </span>
        
                        <div class="days-off-toolbar">
                            <button
                                class="delete-btn"
                                mat-icon-button
                                (click)="deleteDayOff(i)">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>

                    <mat-divider *ngIf="i < (daysOff.length - 1)"></mat-divider>
            </div>
        </div>
    </dx-scroll-view>
</div>
