@import "../../../../Styles/colors.scss";

.add-days-off-text {
    margin-left: 4px;
}

.days-off-toolbar {
    margin-left: auto;

    .delete-btn {
        color: $danger-color;
    }
}

.day-off {
    display: flex;
}

.date {
    display: flex;
    align-items: center;
}
