@import "./../../../../Styles/colors.scss";

.wrapper {
    height: 100%;

    height: 100%;
    display: flex;
    flex-direction: column;
}
.contact-wrapper {
    display: flex;
    width: 100%;
    min-width: 150px;
    height: 65px;
    margin-top: 20px;

    user-select: none;
    cursor: pointer;
}

.oversize-hidden-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.contact-body {
    width: 100%;
    margin-left: 10px;

    overflow: hidden;
}

.chat-name {
    font-weight: 500;
    font-size: 15px;
    color: $dark-gray;
}

.contact-additionally-data {
    margin-left: auto;
    align-self: flex-start;
    display: flex;
}

.contact-date {
    font-size: 13px;
    margin-left: auto;
    white-space: nowrap;
    color: $secondary-color;
}

.contact-divider {
    margin-top: 3px;
    margin-bottom: 3px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 70px !important;
}
.contact-top-side {
    display: flex;

    align-items: baseline;
}

.selected-room {
    background-color: $light-gray;
}

.contact-bottom-side {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.contact-sender-name {
    font-size: 12px;
    font-weight: 600;
    display: block;

    color: $sub-title;

    max-width: 100%;
    white-space: nowrap;
}

.chat-last-message {
    color: #8a9096;
    font-size: 14px;

    margin-left: 3px;
    display: inline;
}

.unread-messages-count {
    width: 24px;
    height: 19px;

    border-radius: 100px;
    background-color: $sub-title;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;

    font-size: 12px;
    font-weight: 600;
    color: $white-color;
}

.busy-room {
    opacity: 0.4;
}

.room-item {
    &:hover {
        background-color: rgba(0, 0, 0, .05);
    }
}

.mat-list-wrapper {
    height: 100%;
    display: flex;
}

.no-contacts-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.no-contacts {
    background-color: $not-data-color;
    color: $white-color;

    border-radius: 20px;

    padding: 2px 6px 2px 6px;
}

:host ::ng-deep .mat-list-wrapper {
    width: 100% !important;
}

:host ::ng-deep .mat-list-base {
    width: 100% !important;
}

.contact-photo {
    position: relative;
}

.online-indicator {
    width: 12px;
    height: 12px;

    border-radius: 50%;

    margin-left: 5px;

    border: 2px solid #ffffff;
    position: absolute;
    right: 0px;
    bottom: 21px;
}

.is-online {
    background-color: $success-color;
}

.is-offline {
    background-color: $danger-color;
}

.delete-chat-button {
    color: #c51c24;
}
