<div class="wrapper">
    <search-bar
        [isShowCloseButton]="isShowCloseButton"
        (OnChange)="onChangeSearching($event)"
        (OnClose)="close()">
    </search-bar>

    <div
        *ngIf="(chatContactsList$ | async) as chatContactsList; else loader" 
        class="mat-list-wrapper">
        <mat-list
            *ngIf="chatContactsList.length; else noContacts">
            <mat-list-item 
                *ngFor="let chatContact of chatContactsList | contactsFilter: searchingText; let i = index"
                [ngClass]="{
                    'selected-room': selectedChatLink === chatContact.chatLink,
                    'busy-room': chatContact.inProcessing
                }"
                matRipple
                class="room-item"
                (click)="selectChat(chatContact.chatLink)"
                (contextmenu)="onRightClick($event, chatContact)">
                <div  
                    class="contact-wrapper">
                    <div class="contact-photo">
                        <ngx-avatar 
                            [name]="chatContact.name || '?'"
                            [initialsSize]="2"
                            [size]="45">
                        </ngx-avatar>

                        <div
                            class="online-indicator"
                            [ngClass]="{
                                'is-online': chatContact.isOnline,
                                'is-offline': !chatContact.isOnline
                            }"
                            [matTooltip]="chatContact.isOnline ? 'online' : 'offline'"
                            [matTooltipPosition]="'after'">
                        </div>
                    </div>
                    <div class="contact-body">
                        <div class="contact-top-side">
                            <h4
                                [title]="chatContact.name" 
                                class="oversize-hidden-text chat-name">
                                    {{ chatContact.name || nonameText }}
                            </h4>

                            <span class="contact-date">
                                <div
                                    [ngSwitch]="(dateMethod.isToday(chatContact.sendDate))"
                                    class="separate-date">
                                        <div
                                            *ngSwitchCase="true"
                                            class="short-time">
                                            {{ (chatContact.sendDate) | date:"shortTime" }}
                                        </div>
                                        <div
                                            *ngSwitchCase="false" 
                                            class="short-date">
                                            {{ (chatContact.sendDate) | date:"shortDate" }}
                                        </div>
                                </div>
                            </span>
                        </div>
                        <div class="contact-bottom-side">
                            <span class="contact-sender-name">
                                {{ (chatContact.lastMessageAuthor) ? chatContact.lastMessageAuthor + ': ' : '' }}
                            </span>
                            <span class="oversize-hidden-text chat-last-message">
                                {{ chatContact.lastMessage }}
                            </span>

                            <div
                                *ngIf="chatContact.unreadMessageCount" 
                                class="unread-messages-count">
                                {{ chatContact.unreadMessageCount }}
                            </div>
                        </div>
                    </div>
                    <div class="contact-additionally-data">
                    </div>
                </div>
                <mat-divider 
                    *ngIf="i != (chatContactsList.length - 1)"
                    class="contact-divider">
                </mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
</div>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button 
            mat-menu-item
            class="delete-chat-button"
            (click)="onChatDelete(item)">
            Delete
        </button>
    </ng-template>
</mat-menu>

<ng-template #noContacts>
    <div class="no-contacts-wrapper">
        <span class="no-contacts">
            No contacts
        </span>
    </div>
</ng-template>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>