<h4 class="text-secondary">
    Default Greeters
</h4>

<button
    mat-raised-button
    color="primary"
    class="save_button"
    (click)="save()">
    <span *ngIf="!isSaving">Save</span>
    <app-button-loader *ngIf="isSaving"></app-button-loader>
</button>

<app-staff-table
    *ngIf="selectedGreetersIds; else loading"
    [filterByRoles]="[Roles.Staff, Roles.Student, Roles.Support]"
    [isSelectionEnabled]="true"
    [selectedGreeterIds]="selectedGreetersIds"
    (OnSelection)="prepareSelectedGreeters($event)"></app-staff-table>
    
<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
