@import "../../../../../../../../../../../../Styles/colors.scss";

.toolbar {
    display: flex;
}

.add-btn {
    margin-left: auto;
}

.form-item {
    display: flex;
}

.field-delete-btn {
    color: $danger-color;
}

.field-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.field-placeholder {
    width: 43%;
}

.field-variable {
    width: 43%;
    margin-left: 15px;
}

.field-toolbar {
    margin-left: 10px;
}