<div
    *ngIf="formAction"
    class="wrapper">
    <dx-scroll-view
        [height]="115">
        <div
            *ngFor="let field of fields; let i = index" 
            class="form-item">
                <div class="field-placeholder">
                    <mat-form-field>
                        <input
                            [(ngModel)]="field.placeholder"
                            matInput
                            placeholder="Input placeholder for field"
                            (change)="writeChanges()">
                    </mat-form-field>
                </div>

                <div class="field-variable">
                    <app-variable-selection
                        [(ngModel)]="field.variableId"
                        [variablesList]="selectBoxVariables"
                        (OnChange)="writeChanges()">
                    </app-variable-selection>
                </div>

                <div class="field-toolbar">
                    <button
                        mat-icon-button
                        class="field-delete-btn"
                        (click)="deleteField(i)">
                            <i class="fas fa-times"></i>
                    </button>
                </div>

        </div>
    </dx-scroll-view>

    <div class="toolbar">
        <button
            mat-button
            class="add-btn"
            color="primary"
            (click)="addField()">
            Add field
        </button>
    </div>
</div>
