<div class="wrapper">
    <form
        *ngIf="detailsFormGroup; else loading"
        [formGroup]="detailsFormGroup">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="full_width_field">
                    <mat-label>Status</mat-label>
                    <mat-select [formControl]="statusFormControl">
                        <mat-option
                            *ngFor="let status of StatusListAsArray"
                            [value]="status.id">
                            <i class="{{ status.iconClass }}"></i>&nbsp;
                            {{ status.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-6">
                <mat-form-field
                    *ngIf="hiddenStatusList; else loading"
                    class="full_width_field">
                    <mat-label>Hidden Status</mat-label>
                    <mat-select [formControl]="hiddenStatusIdFormControl">
                        <mat-option
                            *ngFor="let status of hiddenStatusList"
                            [value]="status.id">
                        {{ status.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<div class="text-right">
    <button
        mat-button
        class="toolbar_button"
        (click)="close()">Close</button>

    <button
        mat-raised-button
        color="primary"
        class="toolbar_button"
        (click)="save()">
        <span *ngIf="!isSaving">Save</span>
        <app-button-loader *ngIf="isSaving"></app-button-loader>
    </button>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>