@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.image-message-wrapper {
    width: 100%;
    position: relative;

    &:hover {
        .message-date-time {
            display: inline;
        }
    }
}
.image-message {
    width: 100%;
    cursor: pointer;
}

.image-text-wraper {
    padding: 5px 10px;
}

.message-date-time {
    position: absolute;
    display: none;

    font-size: 12px;
    padding: 1px 5px 1px 5px;

    bottom: 5px;
    right: 5px;

    border-radius: 20px;
    background-color: rgba($color: $black-color, $alpha: 0.4);
    color: $light-gray;
}

.message-text-date-time {
    padding-left: 5px;
    padding-top: 5px;
    float: right;

    font-size: 12px;
    opacity: 0.7;
}

.myself-block {
    color: $sub-title;
    background-color: $light-gray;
    margin-left: auto;
}
.someone-block {
    background-color: $sub-title;
    color: $light-gray;
    margin-right: auto;
}

.image-message-wrapper {
    min-height: 200px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-message-text {
    word-break: break-word;
}
