<div
    [ngClass]="{
        'myself-block': isMyself,
        'someone-block': !isMyself
    }"
    class="wrapper">
        <div 
            class="image-message-wrapper"
            (click)="openImage()">
            <img 
                class="image-message"
                [src]="host + message.data['imageUrl']">

            <div
                *ngIf="!message.text"
                class="message-date-time">
                {{ message.sendDate | date:"shortTime" }}
            </div>
        </div>
        <div
            *ngIf="message.text" 
            class="image-text-wraper">
            <span
                class="image-message-text"
                [innerHTML]="message.text">
            </span>
    
            <span
                *ngIf="message.text"
                class="message-text-date-time">
                {{ message.sendDate | date:"shortTime" }}
            </span>
        </div>
</div>
