<h3 class="text-secondary">
    <i class="fas fa-users fa-sm"></i>
    Campaigns
</h3>

<div
    *ngIf="campaigns; else loading"
    class="wrapper">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let campaign of campaigns; let i = index">
            <mat-expansion-panel-header>
                <mat-panel-title class="app-items-vertical-middle">
                    <span class="text-weight-bolder">
                        <span class="text-secondary">
                            {{ i + 1 }}.
                        </span>
                        {{ campaign.name }}
                    </span>
                </mat-panel-title>

                <mat-panel-description
                    class="text-right"
                    style="display: block;">
                    <button
                        mat-icon-button
                        [matTooltip]="'Edit'"
                        [matTooltipPosition]="'above'"
                        (click)="openEditingWindow(campaign)">
                        <i class="fas fa-pen"></i>
                    </button>

                    <button
                        *AvailableFor="[Roles.SuperUser]"
                        mat-icon-button
                        [matTooltip]="'Delete'"
                        [matTooltipPosition]="'above'"
                        color="warn"
                        (click)="delete(campaign)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <mat-tab-group>
                    <mat-tab label="Variables">
                        <ng-template matTabContent>
                            <app-variables-page
                                [campaignId]="campaign.id"></app-variables-page>
                        </ng-template>
                    </mat-tab>
    
                    <mat-tab label="Content">
                        <ng-template matTabContent>
                            <app-content-blocks-page
                                [campaignId]="campaign.id"></app-content-blocks-page>
                        </ng-template>
                    </mat-tab>
    
                    <mat-tab label="Scenarios">
                        <ng-template matTabContent>
                            <app-scenario-page
                                [campaignId]="campaign.id"></app-scenario-page>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Managers">
                        <ng-template matTabContent>
                            <app-managers-page
                                [campaignId]="campaign.id"></app-managers-page>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Default Greeters">
                        <ng-template matTabContent>
                            <app-default-greeters-page
                                [campaignId]="campaign.id"></app-default-greeters-page>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Hidden Statuses">
                        <ng-template matTabContent>
                            <app-hidden-statuses-page
                                [campaignId]="campaign.id"></app-hidden-statuses-page>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Mailing">
                        <ng-template matTabContent>
                           <app-mailing-page
                                [campaignId]="campaign.id"></app-mailing-page>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Styling">
                        <ng-template matTabContent>
                            <app-styling-page
                                [campaignId]="campaign.id"></app-styling-page>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<button
    *AvailableFor="[Roles.SuperUser]"
    mat-fab
    matTooltip="Add campaign"
    matTooltipPosition="above"
    color="primary"
    class="campaign_addition_button"
    (click)="openAdditionWindow()">
    <i class="fas fa-plus"></i>
</button>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>