.wrapper {
    margin-top: 10px;
}

.campaign_addition_button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
}

button {
    display: inline-block;
}

:host ::ng-deep mat-tab-body {
    padding: 15px 0px !important;
}

:host ::ng-deep mat-panel-title {
    font-size: 18px;
}