@import "../../../../../../../../../../../../Styles/colors.scss";

.logic-form-wrapper {
    display: flex;
}

.assign-icon {
    margin: 0 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 10px;

    color: $sub-title;
}
