<div class="wrapper">
    <form 
        *ngIf="logicFormGroup"
        [formGroup]="logicFormGroup">
        <div class="logic-form-wrapper">
            <mat-form-field>
                <mat-select
                    formControlName="variable"
                    placeholder="Variable">
                    <mat-option 
                        *ngFor="let variable of selectBoxVariables" 
                        [value]="variable.id">
                            {{ variable.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="assign-icon">
                =
            </div>

            <mat-form-field>
                <input 
                    matInput
                    formControlName="value"
                    placeholder="Value">
            </mat-form-field>
        </div>
    </form>
</div>