@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    border-radius: 5px;
    overflow: hidden;

    padding: 10px 10px 10px 10px;
}

.send-btn {
    height: 51.31px;
}

.message-contact-name {
    display: block;
    font-weight: 600;
    color: #9298a6;
}

.myself-block {
    color: $sub-title;
    background-color: $light-gray;
    margin-left: auto;
}
.someone-block {
    background-color: $sub-title;
    color: $light-gray;
    margin-right: auto;
}

.poll-wrapper {
    color: $light-gray;
    padding-bottom: 5px;
}

.poll-text {
    padding-bottom: 5px;
    font-size: 15px;
}

.poll-button {
    display: flex;

    align-items: center;
    justify-content: center;

    margin-top: 5px;

    outline: none;
    padding: 5px;

    width: 100%;

    font-size: 15px;

    border: 1px solid $light-gray;
    border-radius: 5px;

    background-color: $sub-title;
    color: $light-gray;

    &:hover {
        background-color: $light-blue;
    }

    &:active {
        background-color: $dark-blue;
    }
}

.poll-text {
    word-break: break-word;
}
