<div
    [ngClass]="{
        'myself-block': isMyself,
        'someone-block': !isMyself
    }"
    class="wrapper">
        <span
            *ngIf="!isMyself && showName"
            class="message-contact-name">
                {{ message.chatUserName }}
        </span>

        <div class="poll-wrapper">
            <span class="poll-text"
                [innerHTML]="message.text">
            </span>
            <button
                *ngFor="let button of message.data['buttons']"
                class="poll-button"
                (click)="send(button.value)">
                <span>{{ button.text }}</span>
            </button>
        </div>

        <app-question-message-toolbar
            [chatLink]="chatLink"
            [message]="message"
            (OnSkipButtonClick)="onSkipMessage()">
        </app-question-message-toolbar>
</div>
