<mat-dialog-content>
    <div class="advanced-title">
        {{ (windowMode === 'addition') ? additionModeTitle : editionModeTitle }}
    </div>
    <div
        *ngIf="actionFormGroup && variablesList && selectBoxVariables; else loader"
        class="wrapper">
        <form
            [formGroup]="actionFormGroup">
            <div class="row">
                <div class="col-12 col-md-6">
                    <mat-form-field class="full_width_field">
                        <input
                            matInput
                            formControlName="name"
                            type="text"
                            placeholder="Name" />
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6">
                    <mat-form-field class="full_width_field">
                        <mat-select
                            formControlName="type"
                            placeholder="Type">
                            <mat-option *ngFor="let type of (ActionTypeList | keyvalue)" [value]="type.value.id">
                                {{ type.value.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="action-data">

                <div *ngIf="ActionTypeList[actionFormGroup.controls['type'].value].type === 'message'"
                    class="action-message-type">

                    <div class="row">
                        <div class="col-12">
                            <app-text-box
                                [campaignId]="data.campaignId"
                                [variables]="variablesList"
                                formControlName="text">
                            </app-text-box>
                        </div>

                        <div class="col-12">
                            <app-delay-message
                                formControlName="delay">
                            </app-delay-message>
                        </div>

                        <div class="col-12">
                            <app-call-support-button
                                formControlName="callSupportButton">
                            </app-call-support-button>
                        </div>
                    </div>

                </div>

                <div *ngIf="ActionTypeList[actionFormGroup.controls['type'].value].type === 'question'"
                    class="action-message-type">

                    <div class="row">
                        <div class="col-12">
                            <app-text-box
                                [campaignId]="data.campaignId"
                                [variables]="variablesList"
                                formControlName="text">
                            </app-text-box>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="advanced-sub-title">
                                Action data
                            </div>
            
                            <div
                                [ngSwitch]="actionFormGroup.controls['type'].value" 
                                class="actions">
                                <div
                                    *ngSwitchCase="ActionTypeEnum.Form"
                                    class="form-action">
                                    <app-form-action
                                        [windowMode]="windowMode"
                                        [variablesList]="markupVariables"
                                        [selectBoxVariables]="selectBoxVariables"
                                        formControlName="data">
                                    </app-form-action>
                                </div>
        
                                <div
                                    *ngSwitchCase="ActionTypeEnum.Poll"
                                    class="poll-action">
                                    <app-poll-action
                                        formControlName="data"
                                        [variablesList]="markupVariables">
                                    </app-poll-action>

                                    <div class="row">
                                        <div class="col-12">
                                            <app-variable-selection
                                                formControlName="variableId"
                                                [variablesList]="markupVariables">
                                            </app-variable-selection>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    *ngSwitchCase="ActionTypeEnum.Check"
                                    class="check-action">
                                    <app-check-action
                                        formControlName="data"
                                        [variablesList]="markupVariables">
                                    </app-check-action>

                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field>
                                                <input
                                                    matInput
                                                    required
                                                    formControlName="submitButton"
                                                    placeholder="Submit button text">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <app-variable-selection
                                                formControlName="variableId"
                                                [variablesList]="markupVariables">
                                            </app-variable-selection>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <app-delay-message
                                formControlName="delay">
                            </app-delay-message>
                        </div>
                    </div>

                    <div
                        class="row">
                        <div class="col-12">
                            <app-skip-button
                                formControlName="skipButton">
                            </app-skip-button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <app-call-support-button
                                formControlName="callSupportButton">
                            </app-call-support-button>
                        </div>
                    </div>
                </div>

                <div *ngIf="ActionTypeList[actionFormGroup.controls['type'].value].type === 'logic'"
                    class="action-message-type">

                    <div
                        [ngSwitch]="actionFormGroup.controls['type'].value" 
                        class="actions">
                            <div
                                *ngSwitchCase="ActionTypeEnum.Assignment"
                                class="assignment-action">
                                <app-logic-action
                                    formControlName="data"
                                    [selectBoxVariables]="selectBoxVariables">
                                </app-logic-action>          
                            </div>
                            <div
                                *ngSwitchCase="ActionTypeEnum.Appointment"
                                class="appointmens-action">
                                <app-appointment-action
                                    formControlName="data"
                                    [variablesList]="variablesList">
                                </app-appointment-action>

                                <div class="row">
                                    <div class="col-12">
                                        <app-delay-message
                                            formControlName="delay">
                                        </app-delay-message>
                                    </div>
                                </div>
            
                                <div
                                    *ngIf="actionFormGroup.controls['type'].value !== ActionTypeEnum.Appointment" 
                                    class="row">
                                    <div class="col-12">
                                        <app-skip-button
                                            formControlName="skipButton">
                                        </app-skip-button>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-12">
                                        <app-call-support-button
                                            formControlName="callSupportButton">
                                        </app-call-support-button>
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngSwitchCase="ActionTypeEnum.CallSupport"
                                class="call-support-action">
                                
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        (click)="closeActionWindow()">
            Cancel
    </button>
    <button
        class="save-btn"
        mat-raised-button 
        color="primary"
        (click)="saveAction()">
        {{ (windowMode === 'addition') ? additionModeSaveButton: editionModeSaveButton }}
    </button>
</mat-dialog-actions>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

