
<div
    [ngClass]="{
        'myself-block': isMyself,
        'someone-block': !isMyself
    }"
    class="wrapper">
    <span
        *ngIf="!isMyself && showName"
        class="message-contact-name">
            {{ message.chatUserName }}
    </span>
    <label
        *ngIf="message.text"
        class="form-block-label"
        [innerHTML]="message.text">
    </label>
    <div class="fields-wrapper">
        <div
            class="field-block"
            *ngFor="let field of message.data['fields']; let i = index;">
            <input
                class="form-input"
                [placeholder]="field.placeholder"
                [(ngModel)]="formResponse[i].value">
        </div>

        <div class="field-toolbar">
            <button
                class="form-send-btn"
                (click)="send()">
                Submit
            </button>
        </div>
    </div>

        <app-question-message-toolbar
            [chatLink]="chatLink"
            [message]="message"
            (OnSkipButtonClick)="onSkipMessage()">
        </app-question-message-toolbar>
</div>