@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    border-radius: 5px;
    overflow: hidden;

    padding: 10px 10px 10px 10px;
}

.send-btn {
    height: 51.31px;
}

.message-contact-name {
    display: block;
    font-weight: 600;
    color: #9298a6;
}

.myself-block {
    color: $sub-title;
    background-color: $light-gray;
    margin-left: auto;
}
.someone-block {
    background-color: $sub-title;
    color: $light-gray;
    margin-right: auto;
}

.form-block-label {
    color: $light-gray;
    font-size: 15px;
}


.form-input {
    height: 40px;
    width: 100%;

    padding-left: 10px;

    outline: none;

    border: none;
    border-radius: 5px;
    background-color: $light-gray;
    color: $sub-title;
    margin-top: 2px;
}

.form-send-btn {
    margin-top: 5px;
    height: 30px;
    width: 100%;

    border: none;
    border-radius: 5px;
    border: 1px solid $light-gray;
    background-color: $sub-title;
    color: $light-gray;

    &:active {
        background-color: $light-blue;
    }
}

.message-contact-name {
    display: block;
    font-weight: 600;
    color: #9298a6;
}

.message-text {
    word-break: break-word;
}
