<h3 class="text-secondary">
    <i class="fas fa-file-alt fa-sm"></i>
    Reports
</h3>

<mat-tab-group>
    <mat-tab label="Users">
        <ng-template matTabContent>
            <app-users-page></app-users-page>
        </ng-template>
    </mat-tab>
    <mat-tab label="Logs">
        <ng-template matTabContent>
            <app-logs-page></app-logs-page>
        </ng-template>
    </mat-tab>
    <mat-tab label="Appointments">
        <ng-template matTabContent>
            <app-appointments-page></app-appointments-page>
        </ng-template>
    </mat-tab>
</mat-tab-group> 