<h4 class="text-secondary">
    Actions
</h4>

<button
    mat-raised-button
    color="primary"
    (click)="add()">
    Add action
</button>

<table
    *ngIf="dataSource.data; else loading"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="actions-table">
    
    <ng-container [matColumnDef]="'name'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left font-weight-bold">Name</th>

        <td
            *matCellDef="let action"
            mat-cell
            class="text-left font-weight-bolder">{{ action.name }}</td>
    </ng-container>

    <ng-container [matColumnDef]="'type'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left">Type</th>

        <td
            *matCellDef="let action"
            mat-cell
            class="text-left">
            {{ ActionTypeList[action.type].name }}
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'edit'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Edit</th>
        <td
            *matCellDef="let action"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Edit"
                matTooltipPosition="right"
                class="text-secondary"
                (click)="edit(action)">
                <i class="fas fa-pen"></i>
            </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'delete'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Delete</th>
        <td
            *matCellDef="let action"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Delete"
                matTooltipPosition="right"
                color="warn"
                (click)="delete(action.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
    </ng-container>

    <tr
        *matHeaderRowDef="DisplayedColumns"
        mat-header-row></tr>

    <tr
        *matRowDef="let row; columns: DisplayedColumns;"
        mat-row></tr>
</table>

<mat-paginator
    #Paginator
    [pageSizeOptions]="[25, 50, 75]"
    showFirstLastButtons></mat-paginator>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>