<mat-dialog-content>
    <image-cropper
        [imageBase64]="imageAsBase64"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="300"
        [cropperMinWidth]="256"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        [alignImage]="'center'"
        format="png"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"></image-cropper>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button 
        mat-button
        (click)="close()">Cancel</button>

    <button 
        cdkFocusInitial
        mat-flat-button
        color="primary"
        (click)="save()">Save</button>
</mat-dialog-actions>