<div
    *ngIf="newDate"
    class="new-date-wrapper">
    <span class="new-date">
        {{ newDate | date:"MMMM d" }}
    </span>
</div>

<div
    class="message-block-wrapper">
        <div
            *ngIf="!isMyself && (message.type !== MessageBlockTypes.NewDate)"
            class="contact-photo">
            <ngx-avatar
                *ngIf="showPhoto"
                [src]="message.chatUserPhotoUrl"
                [name]="message.chatUserName || '?'"
                [initialsSize]="2"
                [size]="35">
            </ngx-avatar>
        </div>

        <div 
            class="message-block-switch"
            [ngClass]="{
                'myself-block': isMyself,
                'someone-block': !isMyself,
                'new-data-block': message.type === MessageBlockTypes.NewDate
            }"
            [ngSwitch]="message.type">

                <div *ngSwitchCase="MessageBlockTypes.Text">
                    <text-block
                        [chatLink]="chatLink"
                        [isMyself]="isMyself"
                        [showName]="showName"
                        [message]="message">
                    </text-block>
                </div>

                <div *ngSwitchCase="MessageBlockTypes.Image">
                    <image-block
                        [isMyself]="isMyself" 
                        [message]="message"
                        [mediaViewer]="mediaViewer">
                    </image-block>
                </div>

                <div *ngSwitchCase="MessageBlockTypes.Form">
                    <form-block
                        [chatLink]="chatLink"
                        [isMyself]="isMyself"
                        [showName]="showName"
                        [message]="message"
                        (OnDelete)="selfDestroy()">
                    </form-block>
                </div>

                <div *ngSwitchCase="MessageBlockTypes.Poll">
                    <poll-block
                        [chatLink]="chatLink"
                        [isMyself]="isMyself" 
                        [message]="message"
                        (OnDelete)="selfDestroy()">
                    </poll-block>
                </div>

                <div *ngSwitchCase="MessageBlockTypes.Radio">
                    <radio-block
                        [chatLink]="chatLink"
                        [isMyself]="isMyself"
                        [showName]="showName"
                        [message]="message"
                        (OnDelete)="selfDestroy()">
                    </radio-block>
                </div>

                <div *ngSwitchCase="MessageBlockTypes.Date">
                    <date-block
                        [chatLink]="chatLink"
                        [isMyself]="isMyself"
                        [showName]="showName"
                        [message]="message"
                        (OnDelete)="selfDestroy()">
                    </date-block>
                </div>

                <div *ngSwitchCase="MessageBlockTypes.NewDate"
                    class="new-date-message">
                    <new-date-block
                        [message]="message">
                    </new-date-block>
                </div>

                <div *ngSwitchCase="MessageBlockTypes.Checkbox">
                    <check-block
                        [chatLink]="chatLink"
                        [isMyself]="isMyself"
                        [showName]="showName"
                        [message]="message"
                        (OnDelete)="selfDestroy()">
                    </check-block>
                </div>
        </div>
</div>
