@import "../../../../../../Styles/colors.scss";

.message-block-switch {
    max-width: 80%;
    display: flex;
    align-items: center;

    font-size: 14px;
    margin-left: 5px;
}
.contact-photo {
    width: 35px;
    height: 35px;
}

.myself-block {
    float: right;
    margin-left: auto;
}

.message-block-wrapper {
    display: flex;
    align-items: center;
}

.new-data-block {
    max-width: 100% !important;
    width: 100% !important;
}

.new-date-message {
    width: 100%;
}
