<app-header-menu></app-header-menu>

<div class="wrapper"
    [ngStyle]="{'background': backgroundColor }">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<app-joe-lion></app-joe-lion>

<windowed-chat></windowed-chat>

<app-footer></app-footer>