<h5 class="text-primary font-weight-bold">
    <span *ngIf="data.mode === 'addition'">
        Add
    </span>
    <span *ngIf="data.mode === 'editing'">
        Edit
    </span>
    Campaign
</h5>

<mat-dialog-content>
    <div class="wrapper">
        <form [formGroup]="campaignFormGroup">
            <h5 class="text-secondary">
                <i class="fas fa-info"></i>&nbsp;
                Info
            </h5>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="full_width_field">
                        <input
                            matInput
                            [formControl]="nameFormControl"
                            type="text"
                            placeholder="Name" />
                    </mat-form-field>
                </div>

                <div
                    *ngIf="data.mode === 'editing'"
                    class="col-12">
                    <app-input-with-variables
                        [placeholder]="'Welcome message'"
                        [formControl]="welcomeMessageFormControl"
                        [variables]="variablesList"></app-input-with-variables>
                </div>

                <div
                    *ngIf="data.mode === 'editing'"                    
                    class="col-12">
                    <app-input-with-variables
                        [placeholder]="'Title text (in browser tab)'"
                        [formControl]="browserTitleTextFormControl"
                        [variables]="variablesList"></app-input-with-variables>
                </div>

                <div class="col-12">
                    <mat-form-field class="full_width_field">
                        <input
                            matInput
                            [formControl]="hostFormControl"
                            type="text"
                            placeholder="Host" />
                    </mat-form-field>
                </div>

                <div class="col-12">
                    <mat-checkbox
                        color="primary"
                        [formControl]="allowAnonymousFormControl">
                        Allow Anonymous
                    </mat-checkbox>
                </div>
            </div>
    
            <h5 class="text-secondary">
                <i class="fas fa-sliders-h"></i>&nbsp;
                Appointments
            </h5>

            <div class="row">
                <div class="col-12">
                    <mat-form-field class="full_width_field">
                        <input
                            matInput
                            [formControl]="durationFormControl"
                            type="number"
                            placeholder="Duration in minutes" />
                    </mat-form-field>
                </div>

                <div class="col-12">
                    <mat-form-field class="full_width_field">
                        <input
                            matInput
                            [formControl]="capacityFormControl"
                            type="number"
                            placeholder="Capacity" />
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        class="toolbar_button"
        (click)="close()">Cancel</button>

    <button
        mat-raised-button
        color="primary"
        class="toolbar_button"
        (click)="save()">Save</button>
</mat-dialog-actions>