.staff-table {
    width: 100%;
}

.avatar {
    display: inline-block;

    &:hover {
        cursor: pointer;
        opacity: .8;
    }
}

.search_field {
    width: 100%;
}

.ADUserIcon {
    float: right;
    margin-right: 7px;
}