<div class="row">
    <div class="offset-0 offset-md-9"></div>
    <div class="col-12 col-md-3">
        <mat-form-field class="search_field">
            <input
                matInput
                (keyup)="search($event.target.value)"
                placeholder="Search">
        </mat-form-field>
    </div>
</div>

<div *ngIf="isLoading; then loading"></div>

<table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="staff-table">

    <ng-container
        *ngIf="isSelectionEnabled"
        [matColumnDef]="'select'">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
                [color]="'primary'"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                (change)="$event ? masterToggle() : null"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox
                [color]="'primary'"
                [checked]="selection.isSelected(row)"
                (click)="$event.stopPropagation()"
                (change)="$event ? toggle(row) : null"></mat-checkbox>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'photo'">
        <th
            *matHeaderCellDef
            mat-header-cell
            class="text-left font-weight-bold">Photo</th>

        <td
            *matCellDef="let staffUser"
            mat-cell
            class="text-left">
            <ngx-avatar
                [matTooltip]="'Details'"
                [matTooltipPosition]="'above'"
                [size]="40"
                [initialsSize]="2"
                [name]="staffUser.name"
                [src]="staffUser.photo"
                class="avatar"
                (click)="openUserInfoWindow(staffUser)"></ngx-avatar>
        </td>
    </ng-container>
  
    <ng-container [matColumnDef]="'name'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left font-weight-bold">Name</th>

        <td
            *matCellDef="let staffUser"
            mat-cell
            class="text-left font-weight-bolder">
            <i
                *ngIf="staffUser.isADUser"
                [matTooltip]="'Active Directory User'"
                [matTooltipPosition]="'above'"
                class="fas fa-user-cog text-success ADUserIcon">
            </i>

            {{ staffUser.name }}
        </td>
    </ng-container>
  
    <ng-container [matColumnDef]="'login'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left font-weight-bold">Login</th>

        <td
            *matCellDef="let staffUser"
            mat-cell
            class="text-left adv-size-medium">{{ staffUser.login }}</td>
    </ng-container>
  
    <ng-container [matColumnDef]="'role'">
        <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            class="text-left font-weight-bold">Role</th>
        <td
            *matCellDef="let staffUser"
            mat-cell
            class="text-left adv-size-medium text-secondary">
            {{ RolesList[staffUser.role].name }}
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'edit'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Edit</th>
        <td
            *matCellDef="let staffUser"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Edit"
                matTooltipPosition="right"
                (click)="openDetailsWindow(staffUser)">
                <i class="fas fa-pen"></i>
            </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'delete'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Delete</th>
        <td
            *matCellDef="let staffUser"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Delete"
                matTooltipPosition="right"
                color="warn"
                (click)="deleteStaffUser(staffUser)">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
    </ng-container>

    <tr
        *matHeaderRowDef="DisplayedColumns"
        mat-header-row></tr>

    <tr
        *matRowDef="let row; columns: DisplayedColumns;"
        mat-row></tr>
</table>

<mat-paginator
    #Paginator
    [pageSizeOptions]="[25, 50, 75]"
    showFirstLastButtons></mat-paginator>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>