@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    margin: 10px 0px;
}

form {
    overflow: hidden;
}

.row div {
    margin-bottom: 7px;
}

.toolbar {
    position: fixed;
    width: 90%;
    bottom: 5%;
}

.toolbar_button {
    margin-left: 10px;
}

.radio_button {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

::ng-deep .greeter_date {
    background: rgba(red($success-color), green($success-color), blue($success-color), .2) !important;
    border-radius: 50%;
}

:host ::ng-deep .dx-texteditor-input {
    font-size: 16px !important;
}