<div class="wrapper">
    <form
        *ngIf="infoFormGroup"
        [formGroup]="infoFormGroup">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="field_full_width">
                    <mat-label>Visitor</mat-label>
                    <mat-select
                        [formControl]="visitorIdFormControl"
                        (selectionChange)="updateGreeterList()">
                        <mat-option>
                            <ngx-mat-select-search
                                [placeholderLabel]="'Search'"
                                [noEntriesFoundLabel]="'No visitors found'"
                                [formControl]="visitorFilterFormControl"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let visitor of filteredVisitors | async"
                            [value]="visitor.id">
                            {{ visitor.name || noNameText }}
                            <span class="text-secondary adv-size-small">[{{ visitor.campaignName }}]</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-6">
                <mat-form-field
                    *ngIf="greeterList; else loading"
                    class="field_full_width">
                    <mat-label>Greeter</mat-label>
                    <mat-select
                        [formControl]="greeterIdFormControl"
                        (selectionChange)="updateGreeterDates()">
                        <mat-option
                            *ngFor="let greeter of greeterList"
                            [value]="greeter.id">
                            {{ greeter.name || noNameText }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div
                class="col-sm-12 col-md-6"
                style="padding-top: 8px;">
                <div *ngIf="greeterDatesList; else loading">
                    <span class="font-weight-bolder">Appointment date</span>

                    <button
                        *ngIf="mode === 'editing' && !isDateChangingInEditingMode"
                        mat-icon-button
                        class="text-primary"
                        (click)="showDatesInEditingMode()">
                        <i class="fas fa-pen"></i>
                    </button>

                    <div *ngIf="mode === 'addition' || mode === 'editing' && isDateChangingInEditingMode; else emptyDatesOrSelected">
                        <mat-form-field>
                            <input
                                matInput
                                [matDatepicker]="picker"
                                [formControl]="greeterDateFormControl"
                                placeholder="Date selection"
                                (dateChange)="updateGreeterTimes()">

                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"></mat-datepicker-toggle>

                            <mat-datepicker
                                #picker
                                [dateClass]="prepeareDatesClasses"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <span class="font-weight-bolder">Appointment time</span>
                    <button
                        *ngIf="mode === 'editing' && !isDateChangingInEditingMode"
                        mat-icon-button
                        class="text-primary"
                        (click)="showDatesInEditingMode()">
                        <i class="fas fa-pen"></i>
                    </button>

                    <div *ngIf="greeterDateFormControl.value; else emptyTimes">
                        <span class="text-secondary adv-size-medium">Time selection</span>
                        <dx-date-box
                            style="width: 100%;"
                            [pickerType]="'list'"
                            [type]="'time'"
                            [formControl]="greeterDateTimeFormControl"></dx-date-box>
                    </div>
            </div>

            <div class="col-12">
                <app-repeating-appointment-block
                    *ngIf="!(mode === 'editing' && appointmentTypeFormControl.value === appointmentType.Repeated)"
                    #RepeatingAppointmentBlock
                    [greeterDatesListAsDates]="greeterDatesListAsDates"
                    [appointmentVisitorId]="visitorIdFormControl.value"
                    [appointmentGreeterId]="greeterIdFormControl.value"
                    [appointmentDate]="greeterDateTimeFormControl.value"
                    [formControl]="plannedAppointmentsFormControl"></app-repeating-appointment-block>
            </div>

        </div>
    </form>

    <div class="toolbar text-right">
        <div
            *ngIf="appointmentVisitors; else buttonLoader"
            style="display: inline-block;"
            class="toolbar_button text-primary">
            More visitors on this date:

            <ng-template [ngIf]="appointmentVisitors.length">
                <span *ngFor="let visitor of appointmentVisitors">
                    <b>{{ visitor.name }}</b>;
                </span>
            </ng-template>
            
            <ng-template [ngIf]="!appointmentVisitors.length">
                <b>No visitors</b>
            </ng-template>
        </div>

        <button
            mat-button
            class="toolbar_button"
            (click)="close()">Close</button>

        <button
            mat-raised-button
            color="primary"
            class="toolbar_button"
            (click)="save()">
            <span *ngIf="!isSaving">Save</span>
            <app-button-loader *ngIf="isSaving"></app-button-loader>
        </button>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>

<ng-template #buttonLoader>
    <div class="spinner-border spinner-border-sm text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>

<ng-template #emptyDatesOrSelected>
    <div
        *ngIf="mode === 'editing'"
        class="adv-weight-bold text-secondary">
        {{ greeterDateTimeFormControl.value | date:"longDate" }}
    </div>
</ng-template>

<ng-template #emptyTimes>
    <div
        *ngIf="mode === 'editing' && !isDateChangingInEditingMode; else noTimesText"
        class="adv-weight-bold text-secondary">
        {{ greeterDateTimeFormControl.value | date:"mediumTime" }}
    </div>
    
    <ng-template #noTimesText>
        <div class="text-secondary">No times available</div>
    </ng-template>
</ng-template>