<mat-dialog-content>
    <div class="wrapper">
        <div class="advanced-sub-title">
            Select action
        </div>

        <mat-form-field>
            <mat-label>Select action</mat-label>
            <mat-select
                [formControl]="conditionControl">
                <mat-option *ngFor="let condition of conditionsList" [value]="condition">
                    {{ condition.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        (click)="closeWindow()">
            Cancel
    </button>
    <button
        mat-raised-button 
        color="primary"
        class="add-button"
        (click)="addCondition()">
            Add
    </button>
</mat-dialog-actions>
