<mat-card class="user-card">
    <mat-card-header></mat-card-header>

    <div
        mat-card-image
        class="user-photo"
        [attr.alt]="user.name"
        [style.backgroundImage]="'url(' + (user.photo || '/assets/images/empty_photo.jpg') + ')'"></div>

    <mat-card-actions>
        <button
            mat-button
            color="primary"
            class="view-button"
            (click)="view()"><i class="far fa-eye"></i>&ensp;View</button>
    </mat-card-actions>
</mat-card>