:host ::ng-deep .mat-card-header-text {
    width: 100%;

    mat-card-title {
        text-align: center;
    }
}

:host ::ng-deep .mat-card, .mat-card-actions {
    padding: 0px !important;
    margin: 0px !important;
}

.user-card {
    max-width: 250px;
    text-align: center;
    margin: 0px auto 0px auto !important;
}

.user-photo {
    width: 100%;
    height: 150px;
    border-radius: 3px 3px 0px 0px;
    background-position: 50%;
    background-size: cover;
    margin: 0px;
}

.view-button {
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    font-weight: 500;
}