<mat-toolbar
    class="header-menu-wrapper text-wrap"
    color="primary">

    <div class="row">
        <div class="col-sm-12 col-md-3 text-left">
            <a
                [routerLink]="'/Index'"
                [matTooltip]="'Main page'"
                [matTooltipPosition]="'below'">
                <img src="/assets/images/msj-logo-header.png" height="65" />
            </a>
        </div>

        <div class="col-sm-12 col-md-7 welcome_block">
            Dashboard
        </div>

        <div class="col-sm-12 col-md-2 text-center icons_block">
            <a
                [matTooltip]="'Exit from account'"
                [matTooltipPosition]="'below'"
                (click)="exitFromAccount()">
                <button mat-icon-button>
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </a>
        </div>
    </div>
</mat-toolbar>