a {
    color: #fff;
}

.header-menu-wrapper {
    height: auto !important;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px !important;

    z-index: 998;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.row {
    width: 100%;
    margin: 0px !important;
}

.icons_block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome_block {
    font-size: 22px;
    color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;

    .name {
        color: #fff;
    }
}