<mat-toolbar
    class="header-menu-wrapper text-wrap"
    color="primary">

    <div class="row">
        <div class="col-3 text-left logo_block">
            <div class="logo"></div>
        </div>

        <div class="col-6 welcome_block">
            <span *ngIf="userData.welcomeMessage; else defaultWelcomeMessage">
                {{ userData.welcomeMessage }}
            </span>
        </div>

        <div class="col-3 text-center icons_block">
            <ng-template [ngIf]="!isLocalUser">
                <a
                    *ForbiddenFor="[Roles.Anonymous, Roles.InvitedUser]"
                    [routerLink]="'/Dashboard'"
                    [matTooltip]="'Dashboard'"
                    [matTooltipPosition]="'below'">
                    <button mat-icon-button>
                        <i class="fas fa-user-shield"></i>
                    </button>
                </a>
            </ng-template>
    
            <!-- Dashboard button for LocalUser -->
            <a
                *ngIf="isLocalUser"
                [matTooltip]="'Dashboard'"
                [matTooltipPosition]="'below'"
                (click)="exitFromLocalStatus()">
                <button mat-icon-button>
                    <i class="fas fa-user-shield"></i>
                </button>
            </a>
    
            <a
                *ForbiddenFor="[Roles.Anonymous]"
                [attr.alt]="'Exit from account'"
                [matTooltip]="'Exit from account'"
                [matTooltipPosition]="'below'"
                (click)="exitFromAccount()">
                <button mat-icon-button>
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </a>
        </div>
    </div>
</mat-toolbar>

<ng-template #defaultWelcomeMessage>
    Hi<ng-template [ngIf]="userData && userData.name">,&nbsp;{{ userData.name }}</ng-template>!
</ng-template>