a {
    color: #fff;
}

.logo {
    width: 100%;
    max-width: 100% !important;
    height: 65px !important;
    background-image: url('/assets/images/msj-logo-header.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    transition: all 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 54px;
        background-size: auto;
        background-position: 0;
    }
}

.header-menu-wrapper {
    height: auto !important;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px !important;

    z-index: 998;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.row {
    width: 100%;
    margin: 0px !important;

    div {
        padding: 0px 3px !important;
    }
}

.logo_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons_block {
    width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome_block {
    font-size: 20px;
    color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .name {
        color: #fff;
    }
}