<mat-dialog-content>
    <div class="advanced-title">
        {{ (windowMode === 'addition') ? additionModeTitle : editionModeTitle }}
    </div>
    <div
        *ngIf="condition && conditionVariables && variablesList && actionsList; else loader"
        class="wrapper">

        <mat-form-field>
            <input 
                matInput
                placeholder="Name"
                [(ngModel)]="condition.name"
                type="text">
        </mat-form-field>

        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <div class="advanced-sub-title">
                        Conditions
                    </div>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <app-stipulations
                        [variablesList]="variablesList"
                        [conditionVariables]="conditionVariables"
                        [(stipulations)]="condition.conditions"></app-stipulations>
                </ng-template>
            
            </mat-expansion-panel>

            <mat-expansion-panel
                [disabled]="windowMode === 'addition'"
                (click)="(windowMode === 'addition') ? thenDoDisableNotification() : null">
                <mat-expansion-panel-header>
                    <div class="advanced-sub-title">
                        Then do
                    </div>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div class="then-wrapper">
                        <app-then-do
                            [campaignId]="data.campaignId"
                            [conditionId]="data.conditionId"
                            [actionsList]="actionsList">
                        </app-then-do>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        (click)="closeConditionWindow()">
            Close
    </button>
    <button
        mat-raised-button
        color="primary"
        class="save-btn"
        (click)="saveCondition()">
            {{ (windowMode === 'addition') ? additionModeSaveButton : editionModeSaveButton }}
    </button>
</mat-dialog-actions>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
