@import "../../../../../../../../../../Styles/colors.scss";

:host ::ng-deep .ng-star-inserted {
    width: 100% !important;
}
.wrapper {
    margin-top: 20px;
    min-height: 510px;
}

:host ::ng-deep .mat-content {
    flex: none;
}

:host::ng-deep .mat-dialog-content {
    max-height: 580px !important;
}

:host ::ng-deep .mat-expansion-indicator {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    width: 10px !important;
}

:host ::ng-deep .mat-expansion-panel-spacing {
    background: #f7f7f7;
} 

.toolbar {
    display: flex;
    margin-top: 20px;
}

.save-btn {
    margin-left: auto;
}
