<div class="wrapper">
    <form 
        [formGroup]="delayMessageFormGroup">
        <mat-form-field>
            <input 
                matInput 
                type="number" 
                placeholder="Delay (sec)" 
                formControlName="delay">
        </mat-form-field>
    </form>
</div>
