@import "../../../../../../../../../../Styles/colors.scss";

$avatar-size: 100px;

.avatar_wrapper {
    text-align: center;
}

.avatar_block {
    width: $avatar-size;
    height: $avatar-size;
    display: inline-block;

    &:hover {
        cursor: pointer;

        .avatar_change_block, .avatar_view_block {
            opacity: 1;
        }
    }
}

.avatar_change_block {
    position: absolute;
    display: flex;
    opacity: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
    
    i {
        display: inline-flex;
    }
}

.avatar_view_block {
    position: absolute;
    display: flex;
    margin-top: $avatar-size / 2;
    opacity: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
    
    i {
        display: inline-flex;
    }
}

.avatar_action_block_full {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50% !important;
}

.avatar_action_block_half {
    width: $avatar-size;
    height: $avatar-size / 2;
}

.video_block {
    width: $avatar-size;
    height: $avatar-size;
    display: flex;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content_exist_bg {
    background: $primary-color;
}

.content_no_bg {
    background: $secondary-color;
}

.separator {
    margin: 0px 15px;
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
}