<div
    *ngIf="media; else loading"
    class="wrapper">
    <div class="profile_media_title text-center">
        <h5 class="text-secondary">Photo and Video</h5>
    </div>

    <div class="avatar_wrapper">
        <div class="avatar_block">
            <div
                [matTooltip]="'Change photo'"
                [matTooltipPosition]="'left'"
                [ngClass]="media.photo ? 'avatar_action_block_half' : 'avatar_action_block_full'"
                class="avatar_change_block"
                (click)="selectAvatar()">
                <i class="fas fa-pen fa-lg"></i>
            </div>

            <div
                *ngIf="media.photo"
                [matTooltip]="'View photo'"
                [matTooltipPosition]="'left'"
                [ngClass]="media.photo ? 'avatar_action_block_half' : 'avatar_action_block_full'"
                class="avatar_view_block"
                (click)="viewAvatar()">
                <i class="fas fa-eye fa-lg"></i>
            </div>
    
            <ngx-avatar
                *ngIf="!isAvatarUploading; else loading"
                [size]="100"
                [initialsSize]="2"
                [name]="openedStaffUser.name"
                [src]="media.photo"></ngx-avatar>
        </div>

        <div class="separator text-secondary">&</div>

        <div class="avatar_block">
            <div
                [matTooltip]="'Change video'"
                [matTooltipPosition]="'right'"
                [ngClass]="media.videoId ? 'avatar_action_block_half' : 'avatar_action_block_full'"
                class="avatar_change_block"
                (click)="changeVideo()">
                <i class="fas fa-pen fa-lg"></i>
            </div>
    
            <div
                *ngIf="media.videoId"
                [matTooltip]="'View video'"
                [matTooltipPosition]="'right'"
                [ngClass]="media.videoId ? 'avatar_action_block_half' : 'avatar_action_block_full'"
                class="avatar_view_block"
                (click)="viewVideo()">
                <i class="fas fa-eye fa-lg"></i>
            </div>

            <div
                class="video_block"
                [class.content_exist_bg]="media.videoId ? true : false"
                [class.content_no_bg]="media.videoId    ? false : true">
                <i class="fas fa-video fa-2x"></i>
            </div>
        </div>

        <input
            #AvatarFileUploader
            hidden
            accept="image/.jpeg,.jpg,.png,.bmp"
            type="file"
            (change)="changeAvatar($event)"/>

        <app-media-preview
            *ngIf="media.photo"
            #AvatarsMediaPreview
            [media]="mediaAvatars"></app-media-preview>

        <app-media-preview
            *ngIf="media.videoId"
            #VideosMediaPreview
            [media]="mediaVideos"></app-media-preview>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>