<app-header></app-header>

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3">
                <mat-card class="menu-wrapper">
                    <app-menu></app-menu>
                </mat-card>
            </div>
            <div class="col-sm-12 col-lg-9">
                <mat-card>
                    <router-outlet></router-outlet>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>