<mat-toolbar 
    color="primary"
    class="toolbar-wrapper">
    <div class="start-side-wrapper">
        <button
            *ngIf="isShowContacts"
            mat-icon-button
            (click)="emitOnBack()">
            <i class="fas fa-chevron-left"></i>
        </button>

        <div  
            class="contact-wrapper">
            <div class="contact-photo">
                <ngx-avatar 
                    [name]="chatInfo.chatName || '?'"
                    [initialsSize]="2"
                    [size]="35">
                </ngx-avatar>
            </div>
            <div class="contact-body">
                <div class="contact-header">
                    <h4 class="oversize-hidden-text chat-name">{{ chatInfo.chatName || nonameText }}</h4>
                </div>
                <div class="online-indicator-wrapper">
                    <div
                        class="online-indicator"
                        [ngClass]="{
                            'is-online': chatInfo.isOnline,
                            'is-offline': !chatInfo.isOnline
                        }">
                    </div>

                    <div class="is-online-text">
                        {{ chatInfo.isOnline ? 'Online' : 'Offline' }}
                    </div>
                </div>
            </div>
            <div class="contact-additionally-data">

            </div>
        </div>
    </div>

    <div class="end-sido-wrapper">
        <button
            *AvailableFor="[Roles.Support]"
            mat-icon-button
            [matMenuTriggerFor]="menu">
            <i class="fas fa-ellipsis-v"></i>
        </button>

        <button
            *ngIf="isShowCloseButton"
            class="close-btn"
            mat-icon-button
            (click)="close()">
            <i class="fas fa-times"></i>
    </button>
    </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button 
        mat-menu-item
        (click)="openVariablesTable()">Variables</button>

    <button
        mat-menu-item
        (click)="openAppointmens()">Appointmens</button>
</mat-menu>
