@import "../../../../../../Styles/colors.scss";

:host ::ng-deep .mat-toolbar.mat-primary {
    border-bottom: 1px solid $light-gray;

    background-color: $white-color;
}

.toolbar-wrapper {
    color: $sub-title;
}

.start-side-wrapper {
    display: flex;
    align-items: center;
}

.end-sido-wrapper {
    display: flex;
    align-items: center;

    margin-left: auto;
}

.contact-wrapper {
    display: flex;
    align-items: center;
}

.contact-body {
    margin-left: 10px;
}

.chat-name {
    font-size: 16px;
    font-weight: 400;
    color: $dark-gray;
}

.typing-wrapper {
    height: 10px;
    display: flex;
    // justify-content: center;
    align-items: center;
}

.typing-text {
    font-size: 12px;
}

.hidden-typing {
    height: 10px;
}

.online-indicator-wrapper {
    display: flex;
    align-items: center;
    height: 12px;
}

.online-indicator {
    width: 8px;
    height: 8px;

    border-radius: 50%;
}

.is-online {
    background-color: $success-color;
}

.is-offline {
    background-color: $danger-color;
}

.is-online-text {
    color: $sub-title;
    font-size: 12px;
    margin-left: 4px;
}