<h5 class="font-weight-light text-center">Select type of avatar addition</h5>

<mat-nav-list>
    <a
        mat-list-item
        class="text-primary font-weight-bold"
        (click)="selectType(AvatarUploadingType.Automatically)">
        <i class="fas fa-magic"></i>
        <span mat-line>Automatically (recommended)</span>
        <span mat-line>The system will find the face and crop photo</span>
    </a>

    <a
        mat-list-item
        (click)="selectType(AvatarUploadingType.Manual)">
        <i class="fas fa-crop-alt"></i>
        <span mat-line>Manual</span>
        <span mat-line>Select area and crop photo manually</span>
    </a>
</mat-nav-list>