<div *ngIf="variablesList; else loading">
    <app-variables-table
        [campaignId]="campaignId"
        [variables]="variablesList"
        (OnSomethingChange)="updateVariables()"></app-variables-table>

    <app-variables-association
        [campaignId]="campaignId"
        [variables]="variablesList"></app-variables-association>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>