<div class="wrapper">
    <mat-form-field>
        <mat-select
            [(ngModel)]="variableId"
            placeholder="Variable name"
            (selectionChange)="writeValue(variableId)">
                <mat-option
                    *ngFor="let variable of variablesList"
                    [value]="variable.id">
                    {{ variable.name }}
                </mat-option>
        </mat-select>
    </mat-form-field>
</div>
