<div
    *ngIf="photo"
    class="text-info">
    <i class="far fa-image"></i>
    Some photo selected
</div>

<button
    mat-raised-button
    color="primary"
    (click)="selectPhoto()">
    {{ (photo) ? 'Change photo' : 'Select photo' }}
</button>

<div
    *ngIf="photo">
    {{ photo.type }}
</div>

<input
    #PhotoInput
    hidden
    type="file"
    accept="image/.jpeg,.jpg,.png,.bmp"
    [(ngModel)]="photo"
    (change)="emitPhoto()"/>