@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    overflow: hidden;
    margin: 15px auto;

    min-height: 434px;
}

.toolbar_button {
    display: inline-block;
    margin-left: 10px;
}