<div class="wrapper">
    <mat-form-field>
        <input 
            matInput
            [formControl]="dateFrom"
            [matDatepicker]="from"
            (dateChange)="changeDate()"
            placeholder="From">
        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
    </mat-form-field>
    <i class="fas fa-chevron-right arrow"></i>
    <mat-form-field>
        <input 
            matInput
            [formControl]="dateTo"
            [matDatepicker]="to"
            (dateChange)="changeDate()"
            placeholder="To">
        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
    </mat-form-field>
</div>