<div class="wrapper">
    <dx-scroll-view
        #buttonsListScroll
        [height]="140"
        [showScrollbar]="'always'"
        class="buttons-list-scroll">
        <div class="buttons-list">
            <div
                *ngFor="let button of buttons; let i = index" 
                class="button-data">
                    <span class="button-number">
                        {{ (i + 1) + ') ' }}
                    </span>
                    <div class="button-maker-wrapper">
                        <app-chip-input
                            [value]="button.text"
                            [autocompleteItems]="variablesList"
                            [autocompleteDisplayExpr]="'name'"
                            [autocompleteValueExpr]="'name'"
                            [allowCustomChipValue]="true"
                            [maxCountOfChips]="1"
                            [placeholder]="'Variable'"
                            (change)="chipInputOnChange($event, i)">
                        </app-chip-input>
                    </div>

                    <div class="button-toolbar">
                        <button
                            class="delete-btn" 
                            mat-icon-button
                            (click)="deleteButton(i)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
            </div>
        </div>
    </dx-scroll-view>

    <div class="toolbar">
        <button 
            mat-button
            color="primary"
            class="add-button"
            (click)="addButton()">
            Add field
        </button>
    </div>
</div>
