@import "../../../../../../../../../../../../Styles/colors.scss";

.button-data {
    display: flex;

    align-items: baseline;
}

.delete-btn {
    color: $danger-color;
}

.button-number {
    font-weight: 500;
}

.buttons-list-scroll {
    max-height: 200px;
    overflow: hidden;
}

.buttons-list {
    padding-top: 15px;
}

.toolbar {
    padding-bottom: 5px;
    display: flex;
}

.add-button {
    margin-left: auto;
}

.button-maker-wrapper {
    width: 100%;
}

.button-maker {
    margin: 5px;
    padding: 0px 5px;
    border: 2px solid #3f51b5;
    border-radius: 7px;
    outline: none;
    height: 35px;
    width: 100%;
    background: #3f51b5;
    color: #ffffff;
    cursor: pointer;

    &::placeholder {
        color: #d5d9ed;
    }
}
