<div class="admin_name_block font-weight-bolder text-secondary">
    <i class="admin_icon fas fa-user-circle"></i>
    {{ userData.name }}
</div>

<div class="sections_block">
    <ng-template ngFor let-section [ngForOf]="sections">
        <button
            *AvailableFor="section.permissions"
            mat-button
            [routerLink]="'/Dashboard/' + section.href"
            [queryParamsHandling]="''"
            [routerLinkActive]="'section_item_active'"
            class="section_item text-left">
            <div
                *ngIf="section.iconClass"
                class="section_item_icon">
                <i class="{{ section.iconClass }}"></i>
            </div>
            {{ section.text }}
        </button>
    </ng-template>
</div>