@import "../../../../Styles/colors.scss";

button {
    padding: 0px 10px 0px 7px;
}

.admin_icon {
    margin-right: 5px;
}

.section_item {
    width: 100%;
    border-radius: 0px 30px 30px 0px;
    color: rgb(85, 85, 85) !important;

    &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, .02);
    }
}

.section_item_icon {
    width: 20px;
    display: inline-block;
}

.sections_block {
    margin-top: 15px;
}

.section_item_active {
    background: $primary-color !important;
    color: #fff !important;
}