<h3 class="text-secondary">
    <i class="fas fa-handshake"></i>
    Appointments
</h3>

<app-appointments-table
    #AppointmentsTable></app-appointments-table>

<button
    mat-fab
    matTooltip="Add appointment"
    matTooltipPosition="above"
    color="primary"
    class="appointment_addition_button"
    (click)="openAdditionWindow()">
    <i class="fas fa-plus"></i>
</button>