<div class="wrapper">
    <h3 class="text-secondary">
        <i class="fas fa-audio-description fa-sm"></i>
        Audio description
    </h3>

    <app-audio-description-table></app-audio-description-table>
</div>
