<mat-form-field class="example-full-width">
    <textarea
        matInput
        placeholder="Enter your note"
        [(ngModel)]="text"></textarea>
</mat-form-field>

<div class="toolbar text-right">
    <button
        mat-button
        class="toolbar_button"
        (click)="cancel()">
        Cancel
    </button>

    <button
        mat-raised-button
        color="primary"
        class="toolbar_button"
        (click)="save()">
        <span *ngIf="!isSaving">Save</span>
        <app-button-loader *ngIf="isSaving"></app-button-loader>
    </button>
</div>