<div class="wrapper">
    <div
        *ngIf="data"
        class="row">
        <div class="col-8">
            <span
                *ngIf="data.author.userType === Roles.Anonymous"
                class="text-warning">By Visitor
                <span *ngIf="data.author.name">[{{ data.author.name }}]</span>:&nbsp;</span>{{ data.note }}<br>

            <span class="text-secondary adv-size-medium">{{ data.noteDate | date:"medium" }}</span>
        </div>

        <div class="col-4 text-center">
            <mat-chip-list>
                <mat-chip class="adv-size-small">
                    <i class="{{ NoteTypeList[data.noteType].iconClass }}"></i>&nbsp;
                    {{ NoteTypeList[data.noteType].name }}
                </mat-chip>

                <mat-chip
                    *ngIf="data.noteType === NoteType.Comment"
                    color="warn"
                    selected
                    class="delete_chip adv-size-small"
                    [matTooltip]="'Delete'"
                    [matTooltipPosition]="'above'"
                    (click)="delete()">
                    <i class="far fa-trash-alt"></i>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
</div>