@import "../../../../../../Styles/colors.scss";

$message-color: rgb(196, 155, 103);
$message-background: rgb(255, 255, 255);

.wrapper {
    width: 325px;
    height: auto;
    position: fixed;
    right: 20px;
    bottom: 160px;
    z-index: 100;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(58, 58, 58);
}

.content {
    font-size: 13px;
    font-weight: 400;
    color: rgb(116, 116, 116)
}

.speech {
    width: 300px;
    height: 135px;
    position: relative;
    padding: 15px;
    background-color: $message-background;
    border: 4px solid $message-color;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 30px;
    top: 127px;
    transform: scale(-1, 1);
    border: 19px solid;
    border-color: $message-color transparent transparent $message-color;
}

.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 35px;
    top: 126px;
    transform: scale(-1, 1);
    border: 14px solid;
    border-color: $message-background transparent transparent $message-background;
}

.toolbar {
    display: flex;
    width: 100%;
    font-size: 12px;
    color: $link-color;
    padding-top: 5px;
}


.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    margin-right: 53px;
    margin-top: 8px;
    font-size: 12px;
    color: $link-color;
    cursor: pointer;
}
