<div class="wrapper">
    <div 
        class="speech"
        (click)="open()">
        <span
            *ngIf="messageTitle"
            class="title">
            {{ messageTitle }}
            <br>
        </span>
        <span class="content">
            <span *ngIf="messageText.length < maxLettersCount; else shortText">
                {{ messageText }}
            </span>
        </span>
    </div>

    <div 
        class="close-button"
        (click)="close()">
        Close
    </div>
</div>

<ng-template #shortText>
    {{ messageText | slice:0:maxLettersCount }}...
</ng-template>