<mat-card
    *ngIf="data"
    class="schedule_block">
    <mat-card-header>
        <div
            mat-card-avatar
            class="avatars_block">
            <ngx-avatar
                [matTooltip]="data.greeterModel.name"
                [matTooltipPosition]="'above'"
                [src]="data.greeterModel.photo"
                [name]="data.greeterModel.name"
                [initialsSize]="2"
                [size]="50"
                class="staff_user_avatar"
                (click)="openUserDetails(data.greeterModel)"></ngx-avatar>
        </div>

        <mat-card-title class="adv-weight-thin">
            <span
                *ngIf="data.comment"
                class="text-primary">
                <i class="fas fa-comment-alt"></i>&ensp;"{{ data.comment }}"
            </span>

            <span
                *ngIf="!data.comment"
                class="text-secondary">
                Appointment
            </span>
        </mat-card-title>

        <mat-card-subtitle>
            <i class="far fa-calendar-alt"></i>&nbsp;
            {{ data.date | date:"medium" }}

            <div
                *ngIf="data.status"
                class="schedule_status adv-size-medium {{ StatusList[data.status].colorClass }}">
                <i class="{{ StatusList[data.status].iconClass }}"></i>
                {{ StatusList[data.status].name }}
            </div>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
        <button
            *ngIf="data.status !== ScheduleStatus.Canceled && data.status !== ScheduleStatus.Finished"
            mat-button
            class="text-secondary"
            (click)="cancel()">
            <i class="fas fa-times"></i>&nbsp;
            Request reschedule
        </button>

        <button
            *ngIf="data.status === ScheduleStatus.Finished"
            mat-button
            class="adv-weight-bold"
            (click)="feedback()">
            <i class="far fa-comment-alt"></i>&nbsp;
            Feedback
        </button>
    </mat-card-actions>
</mat-card>