.avatars_block {
    width: 55px;
    height: auto !important;
    white-space: pre-wrap;
    border-radius: 0px !important;
}

.staff_user_avatar {
    display: inline-block;
    margin-top: 5px;

    &:hover {
        opacity: .9;
        cursor: help;
    }
}

.schedule_block {
    margin-bottom: 10px;
}