<h2 mat-dialog-title>
    {{ data.title }}
</h2>

<mat-dialog-content [innerHTML]="data.message | safeHtml"></mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        cdkFocusRegionStart
        (click)="closeWithResult(false)">Cancel</button>

    <button
        color="primary"
        mat-raised-button
        cdkFocusInitial
        cdkFocusRegionEnd
        (click)="closeWithResult(true)">Confirm</button>
</mat-dialog-actions>