<div *ngIf="contentBlocksData === undefined; then loading"></div>

<app-content-block
    *ngFor="let block of contentBlocksData"
    #ContentBlock
    class="ContentBlock"
    [data]="block"
    (OnChatButtonClick)="onChatButtonClick($event)"></app-content-block>

<ng-template #loading>
    <div class="loader">
        <app-loader></app-loader>
    </div>
</ng-template>