@import "../../../../Styles/colors.scss";

.row {
    div {
        padding: 0px !important;
    }
}

.appointments_block {
    width: 100%;
    padding: 10px 0px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.appointment_button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    z-index: 9999;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

.appointment {
    width: 325px;
    display: inline-grid;
    margin-right: 10px;
}