<div
    *ngIf="appointments && appointments.length; else emptyAppointments"
    class="wrapper">
    <div class="row">
        <div class="col-1">
            <div
                class="appointment_button"
                (mousedown)="scrollLeft()">
                <i
                    *DescribeForBlindPeople="AltObjects.IconAppointmentsScrollLeft"
                    class="fas fa-chevron-left fa-2x"></i>
            </div>
        </div>
        <div class="col-10 app-items-vertical-middle">
            <div
                #AppointmentsBlock
                class="appointments_block">
                <app-appointment
                    *ngFor="let appointment of appointments"
                    class="appointment"
                    [data]="appointment"
                    (OnCancel)="OnCancel.emit($event)"
                    (OnFeedback)="OnFeedback.emit($event)">
                </app-appointment>
            </div>
        </div>
        <div class="col-1">
            <div
                class="appointment_button"
                (mousedown)="scrollRight()">
                <i
                    *DescribeForBlindPeople="AltObjects.IconAppointmentsScrollRight"
                    class="fas fa-chevron-right fa-2x"></i>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyAppointments>
    <b>No appointments</b>
</ng-template>