<mat-checkbox
    [color]="'primary'"
    [checked]="isManualSelection"
    (change)="isManualSelection = $event.checked">
    Manual greeters selection
</mat-checkbox>

<div
    *ngIf="!isManualSelection; else greeters"
    class="text-info">
    <b>Greeters are automatically matched for user</b>
</div>

<ng-template #greeters>
    <app-staff-table
        [isSelectionEnabled]="true"
        [filterByRoles]="[Roles.Staff, Roles.Student, Roles.Support]"
        [selectedGreeterIds]="greeterIds"
        (OnSelection)="onGreetersSelectionChaged($event)"></app-staff-table>
</ng-template>
