<h4 class="text-secondary">
    Managers
</h4>

<button
    mat-raised-button
    color="primary"
    class="save_button"
    (click)="save()">
    <span *ngIf="!isSaving">Save</span>
    <app-button-loader *ngIf="isSaving"></app-button-loader>
</button>

<app-staff-table
    *ngIf="selectedManagerIds"
    [selectedGreeterIds]="selectedManagerIds"
    [filterByRoles]="[Roles.Support]"
    [isSelectionEnabled]="true"
    (OnSelection)="prepareSelectedGreeters($event)"></app-staff-table>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>