<h4 class="text-secondary">
    Styling
</h4>    
<div
    *ngIf="styling; else loader"
    class="wrapper">
    <div class="toolbar">
        <button 
            mat-raised-button 
            color="primary"
            class="save-btn"
            (click)="save()">
                <span *ngIf="!isLoading; else buttonLoader">Save</span>
        </button>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Background
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-background-styling
                [campaignId]="campaignId"
                [(styling)]="styling">
            </app-background-styling>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

<ng-template #buttonLoader>
    <app-button-loader></app-button-loader>
</ng-template>
