<mat-dialog-content
    *ngIf="info; else loading"
    class="wrapper">
    <div class="avatar_wrapper">
        <div class="avatar_block">
            <div
                *ngIf="info.videoId"
                [matTooltip]="'Show video'"
                [matTooltipPosition]="'right'"
                class="video_icon"
                alt="Show video"
                (click)="openVideo()">
                <i class="fas fa-video fa-lg"></i>
            </div>

            <ngx-avatar
                [name]="info.name"
                [src]="info.photo"
                [initialsSize]="2"
                [size]="175"></ngx-avatar>
        </div>
    </div>
    
    <div
        class="text-primary text-center user_name_wrapper">
        {{ info.name }}
    </div>

    <div class="row contacts_wrapper">
        <div
            *ngIf="info.phone"
            class="col-12">
            <i class="fas fa-phone"></i>&nbsp;{{ info.phone }}
        </div>
        <div
            *ngIf="info.email"
            class="col-12">
            <i class="fas fa-at"></i>&nbsp;{{ info.email }}
        </div>
    </div>
    
    <div
        *ngIf="isMeetButtonVisible"
        class="chat_button_wrapper">
        <button
            mat-raised-button
            color="primary"
            class="chat_button"
            (click)="meet()">
            Meet
        </button>
    </div>

    <div class="description_wrapper text-secondary">
        <p *ngIf="info.about">
            {{ info.about | slice:0:(isAboutSliced ? 140 : 9999) }}
            <ng-template [ngIf]="info.about.length > 140">
                <ng-template [ngIf]="isAboutSliced">...</ng-template>
                <button
                    mat-button
                    class="text-primary"
                    (click)="isAboutSliced = !isAboutSliced">
                    {{ (isAboutSliced) ? 'More' : 'Less' }}
                </button>
            </ng-template>
        </p>
    </div>

    <div class="hobbies_wrapper">
        <div
            *ngFor="let hobby of info.hobbies; let ind = index;"
            class="gallery_item"
            [attr.alt]="hobby.description"
            [ngStyle]="{ 'background-image': 'url(' + hobby.preview + ')' }"
            (click)="GalleryMediaPreview.open(ind)">
            <i
                *ngIf="hobby.type === MediaType.YoutubeVideo"
                class="fab fa-youtube fa-lg media_icon"></i>
        </div>
    </div>
</mat-dialog-content>

<app-media-preview
    *ngIf="info && info.videoId"
    #UserVideoMediaPreview
    [media]="userVideoMedia"></app-media-preview>

<app-media-preview
    #GalleryMediaPreview
    [media]="galleryMedia"></app-media-preview>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>