@import "../../Styles/colors.scss";

.avatar_block {
    display: inline-block;
    position: relative;
}

.avatar_wrapper {
    text-align: center;
    margin-bottom: 5px;
}

.video_icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 125px;
    margin-top: 0px;
    border-radius: 50%;
    color: #fff;
    background: $primary-color;

    &:hover {
        cursor: pointer;
        opacity: .99;
    }
}

.user_name_wrapper {
    font-size: 32px;
}

.contacts_wrapper {
    text-align: center;
    margin: 20px 0px 5px 0px;
}

.chat_button_wrapper {
    margin-top: 10px;
    text-align: center;
}

.chat_button {
    display: inline-block;
    padding: 5px 25px;
    font-size: 32px;
    font-weight: 400 !important;
}

.description_wrapper {
    margin: 35px 0px 10px 0px;
}

.hobbies_wrapper {
    width: 100%;
}

.gallery_item {
    width: 75px;
    height: 75px;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    margin: 3px;

    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}

.media_icon {
    display: table;
    margin: 5px;
    color: #fff;
}