<mat-dialog-content>
    <h4 class="text-primary font-weight-bold">
        <i class="fas fa-user-plus fa-sm"></i>
        Add staff user
    </h4>

    <mat-radio-group #AdditionTypeBlock>
        <mat-radio-button
            #AdditionNewUserButton
            [value]="AdditionType.NewUser"
            [color]="'primary'"
            [checked]="true">
            Create new user
        </mat-radio-button>

        <mat-radio-button
            #AdditionFromActiveDirectoryUserButton
            [value]="AdditionType.FromActiveDirectory"
            [color]="'primary'">
            Add from Active Directory
        </mat-radio-button>
    </mat-radio-group>

    <form
        *ngIf="AdditionNewUserButton.checked"
        [formGroup]="staffUserFormGroup">
        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <i matPrefix class="fas fa-user text-secondary"></i>
                    <input
                        matInput
                        [formControl]="staffUserFormGroup.controls.name"
                        type="text"
                        placeholder="Name" />
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <i matPrefix class="fas fa-user-secret text-secondary"></i>
                    <input
                        matInput
                        [formControl]="staffUserFormGroup.controls.login"
                        type="text"
                        placeholder="Login" />
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-lock text-secondary"></i>

                    <input
                        matInput
                        [formControl]="staffUserFormGroup.controls.password"
                        [type]="isPasswordHidden ? 'password' : 'text'"
                        placeholder="Password" />

                    <button
                        mat-icon-button
                        matSuffix
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="isPasswordHidden"
                        (click)="isPasswordHidden = !isPasswordHidden">
                        <i class="{{ isPasswordHidden ? 'fas fa-eye' : 'fas fa-eye-slash' }} text-secondary"></i>
                    </button>
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-key text-secondary"></i>
                    <mat-label>Role</mat-label>
                    <mat-select [formControl]="staffUserFormGroup.controls.role">
                        <mat-option
                            *ngFor="let role of rolesList"
                            [value]="role.id">
                            {{ role.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-clock text-secondary"></i>
                    <mat-label>Capacity (in minutes)</mat-label>
                    <input
                        matInput
                        [formControl]="staffUserFormGroup.controls.capacity"
                        type="number"
                        placeholder="Capacity (in minutes)" />
                </mat-form-field>
            </div>
        </div>
    </form>

    <form
        *ngIf="AdditionFromActiveDirectoryUserButton.checked"
        [formGroup]="activeDirectoryUserFormGroup">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="field_full_width">
                    <i matPrefix class="fas fa-user text-secondary"></i>

                    <mat-label>Active Directory user</mat-label>

                    <mat-select
                        [formControl]="activeDirectoryUserFormGroup.controls.login">
                        <mat-option>
                            <ngx-mat-select-search
                                [placeholderLabel]="'Search'"
                                [noEntriesFoundLabel]="'Active Directory users weren\'t found'"
                                [formControl]="activeDirectorySearchFilter"></ngx-mat-select-search>
                        </mat-option>

                        <mat-option
                            *ngFor="let user of activeDirectoryFilteredUsers | async"
                            [value]="user.login">
                            {{ user.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-key text-secondary"></i>
                    <mat-label>Role</mat-label>
                    <mat-select [formControl]="activeDirectoryUserFormGroup.controls.role">
                        <mat-option
                            *ngFor="let role of rolesList"
                            [value]="role.id">
                            {{ role.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field class="full_width_field">
                    <i matPrefix class="fas fa-clock text-secondary"></i>
                    <mat-label>Capacity (in minutes)</mat-label>
                    <input
                        matInput
                        [formControl]="activeDirectoryUserFormGroup.controls.capacity"
                        type="number"
                        placeholder="Capacity (in minutes)" />
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        class="toolbar_button"
        (click)="cancel()">Cancel</button>

    <button
        mat-raised-button
        color="primary"
        class="toolbar_button"
        (click)="onSaveButtonClick()">Save</button>
</mat-dialog-actions>