@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    display: flex;
}

.call-support-btn {
    color: #808991;

    cursor: pointer;
}

.skip-question-btn {
    color: #808991;

    cursor: pointer;
    margin-left: auto;
}
