<div class="wrapper">
    <div
        *ngIf="(message.callSupportButton) ? 
                (message.callSupportButton.isShow) ? true : false
                : false"
        class="call-support-btn"
        (click)="callSupporButtonClick()">
            {{ message.callSupportButton.data.text }}
    </div>

    <div
        *ngIf="(message.skipButton) ? 
                (message.skipButton.isShow) ? true : false
                : false"
        class="skip-question-btn"
        (click)="skipButtonClick()">
            {{ message.skipButton.data.text }}
    </div>
</div>
