<mat-dialog-content>
    <h4 class="text-primary font-weight-bold">
        <i class="admin_icon fas fa-user-circle"></i>
        {{ openedInvitedUser.name || withoutNameText }}
    </h4>

    <mat-tab-group>
        <mat-tab label="Info">
            <ng-template matTabContent>
                <app-info-page [openedInvitedUser]="openedInvitedUser"></app-info-page>
            </ng-template>
        </mat-tab>

        <mat-tab label="Logs">
            <ng-template matTabContent>
                <app-logs-page [openedInvitedUser]="openedInvitedUser"></app-logs-page>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>