.chat-wrapper {
    width: 400px;
    height: 500px;

    position: fixed;
    right: 30px;
    bottom: 30px;

    box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.25);
    border-radius: 8px;

    z-index: 999;
}


@media screen and (max-width: 576px) {
    .chat-wrapper {
        width: 90vw;
        height: 90vh;

        right: 0;
        bottom: 0;
    } 
}