<div
  [ngClass]="{
    'myself-block': isMyself,
    'someone-block': !isMyself
  }"
  class="wrapper">
    <span
        *ngIf="!isMyself && showName"
        class="message-contact-name">
            {{ message.chatUserName }}
    </span>

    <div class="radio-wrapper">

        <label
            *ngIf="message.text"
            class="message-text"
            [innerHTML]="message.text">
        </label>

        <div 
        class="buttons-wrapper">

        <mat-radio-group
            [(ngModel)]="selectedItem">
            <mat-radio-button
                *ngFor="let radio of message.data['radiobuttons']"
                class="radio"
                [value]="radio">
                    <div class="radio-item-wrapper">
                        <ngx-avatar 
                            [name]="radio.name || '?'"
                            [src]="radio.photoUrl"
                            [initialsSize]="2"
                            [size]="35">
                        </ngx-avatar>
                        <span class="item-name">
                            {{ radio.name }}
                        </span>
                    </div>
            </mat-radio-button>
        </mat-radio-group>

        </div>

        <button
            class="meet-button"
            (click)="send()">
            {{ message.data['submitButtonText'] || 'Submit' }}
        </button>

        <app-question-message-toolbar
            [chatLink]="chatLink"
            [message]="message"
            (OnSkipButtonClick)="onSkipMessage()">
        </app-question-message-toolbar>
    </div>
</div>