@import "../../../../../../../../Styles/colors.scss";

.new-date-wrapper {
    margin: 5px;

    text-align: center;
}

.new-date {
    border-radius: 20px;
    background-color: #88909e;

    height: 15px;

    color: $white-color;
    font-weight: 500;
    font-size: 14px;

    padding: 0px 7px;
}