<div class="wrapper">
    <h4 class="text-secondary">
        Notes
    </h4>
    
    <button
        *ngIf="!isCreationBlockVisible"
        mat-raised-button
        color="primary"
        (click)="openCreationBlock()">
        <i class="fas fa-plus"></i>&nbsp;
        Add
    </button>
    
    <app-note-creation
        *ngIf="isCreationBlockVisible"
        [appointmentId]="appointmentId"
        (OnAdditionCanceled)="closeCreationBlock()"
        (OnNoteSaved)="update()"></app-note-creation>
    
    <div
        *ngIf="notesList; else loading"
        class="wrapper">
        <div *ngIf="notesList.length; else emptyNotesList">
            <div class="row">
                <div
                    *ngFor="let note of notesList"
                    class="col-sm-12 col-md-6">
                    <app-note
                        [data]="note"
                        (OnDeleting)="delete(note)"></app-note>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>

<ng-template #emptyNotesList>
    <div class="text-center">
        <b>No notes</b>
    </div>
</ng-template>