@import "./app/Styles/advanced-text-styles.scss";
@import "./app/Styles/advanced-elements-styles.scss";
@import "./app/Styles/colors.scss";
@import "./app/Styles/angular-material-theme.scss";

body {
    height: 100vh !important;
    padding: 0px;
    margin: 0px;
    background: $app-background-color url('/assets/images/background.jpg');
}

* {
    margin: 0px;
    padding: 0px;
}

button {
    outline: none !important;
}