<div
    *ngIf="mailingData && constantsList; else loader"
    class="wrapper">
    <div class="toolbar">
            <button 
                mat-raised-button
                color="primary"
                (click)="saveMailing()">
                <span
                    *ngIf="!isLoading; else buttonLoader">
                    Save
                </span>
            </button>
        </div>
    <table 
        mat-table
        [dataSource]="mailingData">
        <ng-container 
            matColumnDef="name">
            <th 
                *matHeaderCellDef
                mat-header-cell>
                Const name
            </th>
            <td 
                *matCellDef="let element"
                mat-cell
                class="const-name"> 
                {{ element.name }}
            </td>
        </ng-container>

        <ng-container 
            matColumnDef="value">
            <th 
                *matHeaderCellDef
                mat-header-cell>
                Value
            </th>
            <td 
                *matCellDef="let element"
                mat-cell>
                <app-input-with-variables
                    [variables]="constantsList"
                    [placeholder]="'Input the text...'"
                    [(ngModel)]="element.value">
                </app-input-with-variables>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

<ng-template #buttonLoader>
    <app-button-loader></app-button-loader>
</ng-template>

