<div class="wrapper">
    <div class="toolbar">
        <button
            class="create-schedule-btn"
            mat-button
            color="primary"
            (click)="addSchedule()">
                <span class="create-schedule-text">
                    Add schedule
                </span>
        </button>
    </div>
    <dx-scroll-view
        #scheduleScroll
        [height]="height || '100%'">
        <div class="schedule-list">
            <div
                *ngFor="let schedule of scheduleList; let i = index" 
                class="schedule-wrapper">
                    <div class="schedule">
                        <div 
                            *ngFor="let day of daysOfWeek; let j = index"
                            class="days-of-the-week">
                                <mat-checkbox
                                    [checked]="schedule.daysOfWeekBinaryArray[j]"
                                    class="day-of-week"
                                    (change)="changeDayStatus(i, j, ($event.checked)? 1 : 0)">
                                    <div class="day-name">
                                        {{ day }}
                                    </div>
                                </mat-checkbox>
                        </div>

                        <div class="time-pickers">
                            <dx-date-box
                                [(value)]="schedule.fromTime"
                                pickerType="list"
                                type="time"
                                (onClosed)="dateRangeOnChange($event, i)">
                            </dx-date-box>

                            <i class="fas fa-chevron-right arrow"></i>

                            <dx-date-box
                                [(value)]="schedule.toTime"
                                pickerType="list"
                                type="time"
                                (onClosed)="dateRangeOnChange($event, i)">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="schedule-toolbar">
                        <button
                            class="delete-btn"
                            mat-icon-button
                            (click)="deleteSchedule(i)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
            </div>
        </div>
    </dx-scroll-view>
</div>