@import "../../../../Styles/colors.scss";

.schedule {
    display: flex;
    background-color: $light-gray;
    border-radius: 10px;

    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    align-items: center;

    height: 35px;
}

.day-of-week {
    margin-right: 5px;
}
.days-of-the-week {
    display: flex;
    align-items: center;
}

:host ::ng-deep .mat-checkbox-layout {
    margin: 0px;
}

.time-pickers {
    display: flex;
    align-items: center;

}

.arrow {
    color: #b0b4b7;
    font-size: 15px;

    margin: 0px 5px 5px 0px;
}

.toolbar {
    display: flex;
}

.create-schedule-btn {
    margin-left: auto;
}

.day-name {
    font-size: 13px;
}

.create-schedule-text {
    margin-left: 4px;
}

.schedule-toolbar {
    display: flex;
}

.delete-btn {
    margin-left: auto;

    color: $danger-color;
}

.schedule-wrapper {
    display: flex;
}
