<div
    *ngIf="!isChatOpened"
    class="wrapper">
    <div
        *ngIf="(lionInfo$ | async) as lionInfo"
        class="lion-wrapper">

        <app-simple-message
            *ngIf="lionInfo.message && isShowMessage"
            [messageTitle]="''"
            [messageText]="lionInfo.message"
            (OnOpen)="openChat()"
            (OnClose)="closeMessage()">
        </app-simple-message>

        <div
            class="lion-avatar"
            (click)="openChat()">
            <img 
                [src]="JoeLionFaceList[lionInfo.avatar].imageSrc"
                [matTooltip]="'Open Joe Lion'"
                [matTooltipPosition]="'above'"
                class="leo_small_button">
            <div
                *ngIf="lionInfo.countOfUnreadMessages > 0"
                class="unread-messages-count">
                {{ lionInfo.countOfUnreadMessages }}
            </div>
        </div>
    </div>
</div>