@import "../../../../Styles/colors.scss";

.leo_small_button {
    height: 100%;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.lion-avatar {
    position: fixed;
    bottom: 5px;
    right: 5px;
    /* display: flex; */
    width: 130px;
    height: 130px;

    z-index: 999;

    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}

.unread-messages-count {
    position: absolute;
    border-radius: 35px;
    background-color: #c51c24;
    border: 2px solid white;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    height: 21px;
    min-width: 23px;
    top: 1px;
    right: 4px;
    
    padding: 5px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
