<div
    [ngClass]="{
        'myself-block': isMyself,
        'someone-block': !isMyself
    }"
    class="wrapper">

    <span
        *ngIf="!isMyself && showName"
        class="message-contact-name">
            {{ message.chatUserName }}
    </span>

    <div class="date-wrapper">
        <span class="date-text"
            [innerHTML]="message.text">
        </span>

        <mat-form-field
            class="date-picker"
            (click)="picker.open()">
            <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="selectedDate"
                [matDatepickerFilter]="filterFreeDates"
                placeholder="Choose a date">

            <mat-datepicker-toggle 
                matSuffix 
                [for]="picker">
            </mat-datepicker-toggle>

            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <button
        class="send-date-button"
        (click)="send()">
        <span>Choose</span>
    </button>

    <app-question-message-toolbar
        [chatLink]="chatLink"
        [message]="message"
        (OnSkipButtonClick)="onSkipMessage()">
    </app-question-message-toolbar>
</div>