@import "../../../../../../../../Styles/colors.scss";

.wrapper {
    border-radius: 5px;
    overflow: hidden;

    padding: 10px 10px 10px 10px;
}

.myself-block {
    color: $sub-title;
    background-color: $light-gray;
    margin-left: auto;
}
.someone-block {
    background-color: $sub-title;
    color: $light-gray;
    margin-right: auto;
}

.date-wrapper {
    color: $light-gray;
}

.date-text {
    padding-bottom: 5px;
    font-size: 15px;
}

:host::ng-deep.mat-form-field-label, :host::ng-deep.mat-datepicker-toggle-default-icon {
    color: $white-color !important;
}

:host::ng-deep.mat-form-field-underline {
    background-color: $white-color !important;
}

:host::ng-deep .date-picker {
    margin-top: 5px;
}

:host::ng-deep .mat-form-field-ripple {
    background-color: $white-color !important;
    height: 1px !important;
}

.message-contact-name {
    display: block;
    font-weight: 600;
    color: #9298a6;
}

.send-date-button {
    display: flex;

    align-items: center;
    justify-content: center;

    margin-top: 5px;

    outline: none;
    padding: 5px;

    width: 100%;

    font-size: 15px;

    border: 1px solid $light-gray;
    border-radius: 5px;

    background-color: $sub-title;
    color: $light-gray;

    &:hover {
        background-color: $light-blue;
    }

    &:active {
        background-color: $dark-blue;
    }
}

.date-text {
    word-break: break-word;
}
