<mat-checkbox
    [color]="'primary'"
    [(ngModel)]="isRepeatingAppointment">
    <b>Recurring appointment</b>
</mat-checkbox>

<ng-template [ngIf]="isRepeatingAppointment">
    <form [formGroup]="recurringAppointmentFormGroup">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="field_full_width">
                    <mat-label>Repeat</mat-label>
                    <mat-select [formControl]="typeFormControl">
                        <mat-option
                            *ngFor="let repeatType of repeatTypes"
                            [value]="repeatType.id">
                            {{ repeatType.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-6">
                <mat-form-field class="full_width_field">
                    <input
                        matInput
                        [formControl]="rateFormControl"
                        [placeholder]="getDaysCountInputPlaceholder()"
                        min="0"
                        type="number" />
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-6">
                <mat-form-field class="field_full_width">
                    <input
                        matInput
                        [matDatepicker]="untilDatePicker"
                        [formControl]="untilDateFormControl"
                        placeholder="Until">

                    <mat-datepicker-toggle
                        matSuffix
                        [for]="untilDatePicker"></mat-datepicker-toggle>

                    <mat-datepicker #untilDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-6">
                <mat-form-field class="full_width_field">
                    <input
                        matInput
                        [formControl]="amountFormControl"
                        placeholder="Number of times"
                        min="0"
                        type="number" />
                </mat-form-field>
            </div>
        </div>
    </form>

    <button
        mat-raised-button
        color="primary"
        class="toolbar_button"
        (click)="loadSchedule()">
        <span *ngIf="!isScheduleLoading">Schedule</span>
        <app-button-loader *ngIf="isScheduleLoading"></app-button-loader>
    </button>

    <div *ngIf="plannedAppointments">
        <mat-list *ngIf="plannedAppointments.length; else noPlannedAppointments">
            <h3 mat-subheader>Repeating appointments</h3>
            <mat-list-item
                *ngFor="let appointment of plannedAppointments; let i = index"
                class="appointment_row">
                <span mat-list-icon class="text-secondary font-weight-bold">{{ i + 1 }}.</span>

                <div class="date_picker_wrapper">
                    <mat-form-field>
                        <input
                            matInput
                            [matDatepicker]="plannedAppointmentDatePicker"
                            [value]="appointment.date"
                            placeholder="Date"
                            (dateChange)="onPlannedAppointmentDateTimeChange(i, $event.value)">
    
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="plannedAppointmentDatePicker"></mat-datepicker-toggle>
    
                        <mat-datepicker
                            #plannedAppointmentDatePicker
                            [dateClass]="prepeareDatesClasses"></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="time_picker_wrapper">
                    <span class="text-secondary adv-size-medium">Time</span>
                    <dx-date-box
                        [pickerType]="'list'"
                        [type]="'time'"
                        [value]="appointment.date"
                        (valueChange)="onPlannedAppointmentDateTimeChange(i, $event)"></dx-date-box>
                </div>

                <div class="status_wrapper adv-size-small">
                    <span
                        *ngIf="appointment.onSchedule"
                        class="text-success">
                        <i class="fas fa-check-double"></i>
                        On greeter schedule
                    </span>

                    <span
                        *ngIf="!appointment.onSchedule"
                        class="text-warning">
                        <i class="fas fa-check"></i>
                        Not on greeter schedule
                    </span>
                </div>

                <div class="visitors_wrapper">
                    <div *ngIf="appointment.visitors.length; else noVisitors">
                        <span
                            *ngFor="let visitor of appointment.visitors"
                            class="text-secondary adv-size-small font-weight-bold">
                            {{ visitor.name }};&nbsp;
                        </span>
                    </div>
                </div>

                <div class="actions_wrapper">
                    <button
                        class="delete_btn text-danger"
                        mat-icon-button
                        [matTooltip]="'Delete'"
                        [matTooltipPosition]="'above'"
                        (click)="removePlannedAppointment(i)">
                        <div *ngIf="appointment.isInfoUpdating; then loading;"></div>
                        <i *ngIf="!appointment.isInfoUpdating" class="far fa-trash-alt"></i>
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</ng-template>

<ng-template #noPlannedAppointments>
    No repeating appointments
</ng-template>

<ng-template #noVisitors>
    <span class="text-secondary">No visitors</span>
</ng-template>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>