.appointment_row {
    display: flex;
}

.date_picker_wrapper {
    display: inline-block;
}

.time_picker_wrapper {
    display: inline-block;
    margin: 0px 10px 25px 10px;
}

.visitors_wrapper {
    width: auto !important;
    min-width: 150px;
}

.status_wrapper {
    width: auto !important;
    min-width: 150px;
    display: inline-block;
}

.delete_btn {
    float: right;
}

.actions_wrapper {
    width: 100%;
    display: inline-block;
}