:host ::ng-deep table, :host ::ng-deep th, :host ::ng-deep td {
    border: solid 1px rgb(155, 155, 155);
    padding: 3px;
}

// :host ::ng-deep table tr td {
//     word-break: break-all;
// }

:host ::ng-deep table {
    overflow: hidden;
    table-layout: fixed;
}

:host ::ng-deep td {
    width: auto !important;
}

:host ::ng-deep img {
    max-width: 100% !important;
    height: auto !important;
}