<div class="wrapper">
    <div class="color-wrapper">
        <span>
            Background color:
        </span>
        <div class="color-picker">
            <dx-color-box
                #colorBox
                [placeholder]="'Background color'"
                [editAlphaChannel]="true"
                [(ngModel)]="styling.backgroundColor"
                (onClosed)="changeComplete($event)"></dx-color-box>

            <button 
                mat-raised-button
                color="primary"
                class="to-default-btn"
                (click)="toDefault()">
                To default
            </button>
        </div>
    </div>
</div>