<h4 class="text-secondary">
    Blocks
</h4>

<button
    mat-raised-button
    color="primary"
    (click)="add()">
    Add block
</button>

<table
    *ngIf="dataSource.data; else loading"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="content-blocks-table">
    
    <ng-container [matColumnDef]="'name'">
        <th
            *matHeaderCellDef
            mat-sort-header
            mat-header-cell
            class="text-left font-weight-bold">Name</th>

        <td
            *matCellDef="let contentBlock"
            mat-cell
            class="text-left font-weight-bolder">{{ contentBlock.name }}</td>
    </ng-container>

    <ng-container [matColumnDef]="'type'">
        <th
            *matHeaderCellDef
            mat-sort-header
            mat-header-cell
            class="text-left font-weight-bold">Type</th>

        <td
            *matCellDef="let contentBlock"
            mat-cell
            class="text-left text-secondary font-weight-bolder">
            <i class="{{ ContentTypeList[contentBlock.type].iconClass }}"></i>&nbsp;
            {{ ContentTypeList[contentBlock.type].name }}
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'isActive'">
        <th
            *matHeaderCellDef
            mat-sort-header
            mat-header-cell
            class="text-left font-weight-bold">Is Active</th>

        <td
            *matCellDef="let contentBlock"
            mat-cell
            class="text-left font-weight-bolder">
            <mat-slide-toggle
                [color]="'primary'"
                [(ngModel)]="contentBlock.isActive"
                (change)="changeState(contentBlock, $event.checked)"></mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'position'">
        <th
            *matHeaderCellDef
            mat-header-cell
            class="text-center font-weight-bold">Position</th>

        <td
            *matCellDef="let contentBlock; let i = index;"
            mat-cell
            class="text-center font-weight-bolder">
            <button
                *ngIf="i !== 0"
                mat-icon-button
                [matTooltip]="'Move up'"
                [matTooltipPosition]="'left'"
                color="primary"
                (click)="moveUp(contentBlock)">
                <i class="fas fa-arrow-up"></i>
            </button>
            
            <button
                *ngIf="i !== (dataSource.data.length - 1)"
                mat-icon-button
                [matTooltip]="'Move down'"
                [matTooltipPosition]="'right'"
                color="primary"
                (click)="moveDown(contentBlock)">
                <i class="fas fa-arrow-down"></i>
            </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'edit'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Edit</th>
        <td
            *matCellDef="let contentBlock"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Edit"
                matTooltipPosition="right"
                (click)="edit(contentBlock)">
                <i class="fas fa-pen"></i>
            </button>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="'delete'">
        <th
            *matHeaderCellDef
            mat-header-cell
            width="55"
            class="text-center font-weight-bold">Delete</th>
        <td
            *matCellDef="let contentBlock"
            mat-cell
            class="text-center">
            <button
                mat-icon-button
                matTooltip="Delete"
                matTooltipPosition="right"
                color="warn"
                (click)="delete(contentBlock)">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
    </ng-container>

    <tr
        *matHeaderRowDef="DisplayedColumns"
        mat-header-row></tr>

    <tr
        *matRowDef="let row; columns: DisplayedColumns;"
        mat-row></tr>
</table>

<mat-paginator
    #Paginator
    [pageSizeOptions]="[25, 50, 75]"
    showFirstLastButtons></mat-paginator>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>